[2020-08-10 15:30] oleg-larshin commented on #1540
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-498">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:30] oleg-larshin commented on #1543
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-497">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1550
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-496">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1556
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-494">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1559
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-491">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1587
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-487">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1612
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-484">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1617
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-482">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1619
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-480">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1622
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-479">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1623
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-478">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1647
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-473">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1652
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-472">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1656
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-469">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1663
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-466">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1665
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-465">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1686
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-459">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1687
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-458">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1690
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-456">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1694
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-454">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1695
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-453">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1696
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-452">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1698
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-451">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1711
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-447">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1720
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-446">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1722
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-445">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1729
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-442">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1731
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-441">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1734
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-440">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1735
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-439">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1736
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-438">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1738
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-437">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1747
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-432">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1753
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-431">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1754
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-430">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1759
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-429">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1763
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-427">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1764
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-426">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1766
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-425">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1778
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-420">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1786
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-417">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1797
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-414">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1801
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-413">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1802
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-412">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1813
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-410">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1814
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-409">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1818
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-407">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1820
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-406">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1822
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-405">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1825
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-404">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:31] oleg-larshin commented on #1829
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-402">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1835
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-398">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1836
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-397">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1839
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-396">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1840
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-395">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1844
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-392">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1845
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-391">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1848
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-390">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1854
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-388">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1855
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-387">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1861
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-385">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1862
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-384">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1863
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-383">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1864
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-382">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1865
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-381">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1866
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-380">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1867
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-379">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1868
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-378">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1869
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-377">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1870
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-376">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1872
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-375">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1873
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-374">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1874
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-373">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1882
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-370">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1883
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-369">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1885
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-368">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1887
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-367">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1890
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-366">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1891
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-365">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1892
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-364">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1917
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-354">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1986
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-318">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 15:32] oleg-larshin commented on #1987
Please check the <a href="https://youtrack.jetbrains.com/issue/KTOR-317">following ticket</a> on YouTrack for follow-ups to this issue. GitHub issues will be closed in the coming weeks.

[2020-08-10 16:40] sethchhim commented on #1229
@oleg-larshin Ok, thanks for the update.

[2020-08-10 16:40] #1229 closed

[2020-08-10 19:50] Krizzu commented on #1826
@oleg-larshin Ktor moves away from GH issues?

[2020-08-10 19:52] #1826 closed

[2020-08-10 19:58] viartemev commented on #1524
@oleg-larshin what is the motivation for moving to YouTrack? Do you have any plans to transfer upvotes?

[2020-08-10 22:39] #456 closed

[2020-08-11 08:23] #1910 closed

[2020-08-11 15:09] dybarsky commented on #501
@oleg-larshin Thank you for letting me know. I will star YouTrack issue.

[2020-08-12 01:50] #1976 closed

[2020-08-12 09:54] keyvanNorouzi opened #2020 "Is there any way to check connectionState on android device with ktor WebSocket lib?"
Hi is there any way to check connection state and poor internet connection or socket state-change listener on android?
For example, when I want to notify when the device has no-internet (WIFI is connected but no data) or Check Socket is connected or not?

[2020-08-13 22:20] NanoSpicer commented on #1344
@Stexxe I have been looking for an implementation of such converter, do you happen to know where could I find it?

[2020-08-15 00:44] #916 closed

[2020-08-15 02:21] #566 closed

[2020-08-17 05:06] #1110 closed

[2020-08-17 05:07] #1111 closed

[2020-08-17 05:08] #1322 closed

[2020-08-18 13:06] rolfwessels commented on #1812
I'm on Version **1.3.2** of Ktor client and I am still having this issues. The API calls work when I am running in app but under MPP unit testing I get the same exception.

[code]

[code]

**Exception**
[code]

[2020-08-18 13:39] Hakky54 commented on #1812
Hi @rolfwessels

This bug has been fixed but not available yet. The latest release is from March 2020 while the bug has been fixed at April 2020. They still need to release a new version of the library including the bug fix.

Hi @e5l, any idea when the next release will be made?

[2020-08-18 16:52] rolfwessels commented on #1812
Is there any work around for this?

On Tue, Aug 18, 2020, 3:39 PM Hakky54 <notifications@github.com> wrote:

[2020-08-19 08:11] e5l commented on #1812
Just made one. Sorry for the delay, please check `1.4.0`

[2020-08-19 08:13] rolfwessels commented on #1812
@e5l Thanks, appreciate it.

[2020-08-24 09:12] hikkidev commented on #1184
On version 1.4.0 the error is simply reproduced:
[code]

[2020-08-25 09:16] jonathannatanaelsiahaan commented on #1753
Is there any update?

[2020-08-25 16:21] fluidsonic opened #2027 "Logger name should be prefixed with io.ktor"
It's convention that logger names are prefixed with the relevant package. That allows proper configuration, e.g. of different log levels for different libraries based on package names.

Depending on the setup, Ktor uses `Application` or `ktor.application` as logger name. It should be `io.ktor.Application` for consistency.

https://github.com/ktorio/ktor/blob/21bb0a7a05f135a5ffb312ef83149fbc25899b8

[2020-08-25 16:53] fluidsonic commented on #2027
No idea how I've managed to create it here instead of YouTrack…

[2020-08-25 16:53] #2027 closed

[2020-08-25 22:23] dvdgsng commented on #1600
Having the same issue. My setup is already based on the auto-reload documentation. See error below.

Auto-Reload via `gradle -t installDist` + `gradle run` works, however.

ktor_version 1.4.0
openjdk 14.0.1
IntelliJ IDEA 2020.2.1 Build #IU-202.6948.69

[code]

[code]

[code]

[2020-08-26 20:57] sdtaheri commented on #1550
This issue happens on version 1.4.0 while on 1.3.2-1.4.0-rc everything works fine.

[2020-08-27 15:55] dimartiro-py commented on #1433
Any news about this issue? We are having the same problem in my company with a service that we have in production.

[2020-08-28 04:57] joaquim-verges commented on #1550
Having a very similar issue on 1.4.0 when doing a simple get request on ios:

`Uncaught Kotlin exception: kotlin.native.concurrent.InvalidMutabilityException: mutation attempt of frozen kotlinx.coroutines.ChildHandleNode@31dca08`

reverting back to 1.3.2-1.4.0-rc works like a charm.

[2020-08-28 09:21] xiaobailong24 commented on #1550
same error with me.

[2020-08-28 10:37] xiaobailong24 commented on #1550
@joaquim-verges
I solve it.

[code]

[code]

[code]

[code]

[2020-08-28 14:38] rwsbillyang commented on #2013
I am also plagued by this problem. I used the similar design in http response. I have to add 'contextual(MyDataModel.serializer()) ' into SerializersModule for every  data model class after upgrade to koltin 1.4.0.  It's cumbersome if too many data model classes.

[2020-08-29 16:42] BoD commented on #1550
I have the same issue as @joaquim-verges and unfortunately, using kotlinx serialization `1.0.0-RC` didn't fix it for me.

Doesn't this mean that KTOR http client 1.4.0 is essentially unusable for native?

Any other ideas?

[2020-08-29 17:06] BoD commented on #1548
Hi! Can this be re-opened please?  I can still reproduce it in 1.4.0.

[2020-08-31 06:56] e5l commented on #360
Hey, sorry for the delay. We're not going to make `HttpAsyncResponseConsumer` public.
If you want to use a limiter, consider writing feature wrapping `ByteReadChannel` instead.

[2020-08-31 06:56] #360 closed

[2020-08-31 10:15] Stexxe commented on #1548
@BoD thank you, I've reproduced it. Please follow the new issue [KTOR-955](https://youtrack.jetbrains.com/issue/KTOR-955) I've created in Youtrack.

[2020-09-01 12:52] ilya40umov commented on #1819
It's unfortunate that every project that needs to tune this timeout needs to copy-and-paste a chunk of the framework to their codebase. Can we instead consider having a configuration property like `ktor.deployment.shutdownTimeoutSeconds`?

[2020-09-02 09:02] e5l commented on #411
Hey, the Ktor version was outdated there. We just updated TFB benchmarks to Ktor `1.4.0`, and we're going to check performance in real-life scenarios in future releases.

Thanks for paying attention to that problem.

[2020-09-02 09:02] #411 closed

[2020-09-02 15:17] Stexxe commented on #467
I cannot reproduce it with `1.4.0`. Could anyone tell is it reproducible using the latest released version of Ktor?

[2020-09-02 16:44] ArtRoman commented on #1215
Kotlin 1.4 is out, ktor 1.4.0 is released, too. CIO engine supports native platform now.
iOS app compiles without any errors, but still fails with `WebSockets is not supported in native CIO engine.` on [this](https://github.com/ktorio/ktor/blob/master/ktor-client/ktor-client-cio/posix/src/io/ktor/client/engine/cio/WebSocketUtilsNative.kt#L22) line. Any updates?

[2020-09-02 16:47] serebit commented on #1215
Ktor 1.4 supports *sockets* on native, but seemingly not *websockets.*

[2020-09-03 10:23] rsinukov commented on #847
Fixed in 1.3.1 by #1586

[2020-09-03 10:23] #847 closed

[2020-09-03 10:43] halfbaked commented on #1070
Just in case anyone else hits this page for the same reasons I did, I was seeing the above error since upgrading to 1.4.0.
It looks like the package names for the http client implementations have now changed, and [-jvm has been added](https://mvnrepository.com/artifact/io.ktor/ktor-client-cio-jvm/1.4.0), so the gradle file has to be edited accordingly.

[2020-09-04 18:38] KirillAmurskiy commented on #1333
Had the same problem. Have solved it with the following workaround:

[code]

One should use this configuration only for requests where you invoke PUT/POST methods with empty body.
It isn't the perfect solution, but if one can't use another engine for the client it will help.

[2020-09-05 03:10] #1220 closed

[2020-09-06 13:00] Danieliessen commented on #1821
Well, it is a 32bit(java 1.8 - they still could run it in 64bit but thats strange, this is just what i found on github) test of ktor 1.2.0(released in 19 mar 2019, while the bench was in 2020 05 28), what did you expect.

[2020-09-07 07:54] e5l commented on #1821
The latest public TFB run is using ktor `1.0.0-beta-*`. We've just updated it to the `1.4.0` there and will follow the results.
Thanks for rising the question.

[2020-09-07 07:54] #1821 closed

[2020-09-09 20:25] #1400 closed

[2020-09-10 08:02] xsveda commented on #1395
Same issue encountered with `Ktor 1.4.0`. The problem is in incomplete configuration where `acceptContentTypes` must be defined manually. In your case:
[code]

[2020-09-10 11:13] #1538 closed

[2020-09-10 11:14] e5l commented on #1538
Yep, can't reproduce the problem with recent update.

[2020-09-13 06:52] DmyMi commented on #1550
Still get the same error (kotlin.native.concurrent.InvalidMutabilityException: mutation attempt of frozen kotlinx.coroutines.ChildHandleNode) with `kotlin 1.4.10` and `coroutines 1.3.9-native-mt`.

I configure the client like this in iOS specific Kodein module:
[code]

i will try to configure it like @xiaobailong24 did right in the api client class, but i'm not sure it will help

[2020-09-13 16:41] dphart commented on #1550
Any updates on this?

[2020-09-14 13:03] rsinukov commented on #1845
fixed by https://github.com/ktorio/ktor/pull/2064

[2020-09-14 13:03] #1845 closed

[2020-09-14 13:04] rsinukov commented on #1766
fixed in https://github.com/ktorio/ktor/pull/2064

[2020-09-14 13:04] #1766 closed

[2020-09-14 14:17] rsinukov commented on #1996
Property `content` of `HttpResponse` is a raw response from the server, that is not modified by `HttpResponsePipeline`. To get modified content, please use the `receive` function.
Example
[code]
I updated the doc [here](https://github.com/ktorio/ktor/pull/2065) to make it more visible

[2020-09-14 14:17] #1996 closed

[2020-09-15 09:47] ThomasHabets commented on #888
To clarify to future readers of this bug: The magic fixing block needs to be put in the gradle app config under the `android` section, it seems.

[2020-09-15 12:21] hamada147 commented on #1550
I'm also facing the same issue on 1.4.0 and I thought my code was the issue or I misunderstood the variable freezing functionality. But as you all pointed out it is an issue with 1.4.0.

@e5l I understand that you have a huge load of work and that we all go to you when there is an issue especially with Ktor but we would very much appreciate any kind of update on this issue. If there is a workaroun

[2020-09-15 14:10] dhoskins commented on #1550
Following a hint on here https://youtrack.jetbrains.com/issue/KTOR-915 the exception went away when I removed ```implementation "io.ktor:ktor-client-logging:$ktor_version"```
Obviously not much of a solution, not sure why that issue is marked as resolved.

[2020-09-15 21:00] DmyMi commented on #1550
removing logging feature did not help. Still got the same stack trace:
[code]

[2020-09-17 17:52] dalewking commented on #1550
I was able to solve this as noted in an earlier response by using version 1.3.9-native-mt of kotlinx.coroutines. If you use straight version 1.3.9 version you will get the InvalidMutabilityException.

[2020-09-22 08:06] LoAlex commented on #1127
any solutions guys?

[2020-09-23 05:47] e5l commented on #887
Fixed in 1.4.1

[2020-09-23 05:47] #887 closed

[2020-09-23 05:48] e5l commented on #1543
Fixed in 1.4.1

[2020-09-23 05:48] #1543 closed

[2020-09-23 05:51] e5l commented on #1764
Duplicates #1729

[2020-09-23 05:51] #1764 closed

[2020-09-23 05:52] e5l commented on #961
Works in `1.4.0`

[2020-09-23 05:52] #961 closed

[2020-09-23 09:31] e5l commented on #1550
Fixed with `1.3.9-native-mt-2`

[2020-09-23 09:31] #1550 closed

[2020-09-23 09:36] e5l commented on #1778
Fixed in `1.4.0`

[2020-09-23 09:36] #1778 closed

[2020-09-23 09:37] e5l commented on #1759
Fixed in `master`

[2020-09-23 09:37] #1759 closed

[2020-09-23 09:37] e5l commented on #1820
Fixed in `master`

[2020-09-23 09:37] #1820 closed

[2020-09-23 09:38] e5l commented on #1619
Fixed in `1.4.0`

[2020-09-23 09:38] #1619 closed

[2020-09-23 09:39] e5l commented on #1559
Fixed in `master`

[2020-09-23 09:39] #1559 closed

[2020-09-23 09:39] e5l commented on #1622
Fixed in `master`

[2020-09-23 09:39] #1622 closed

[2020-09-23 21:25] jarroyoesp commented on #1550
Hi, I am using 1.3.9-native-mt-2 but I can't create Ktor-HttpClient in the iOS side. I don't know if I am missing something. My dependencies are:
[code]

[code]

But when try to create HttpClient this exception is thrown(`kotlin.native.concurrent.InvalidMutabilityException: mutation attempt of frozen kotlinx.coroutines.ChildHandleNode`):

[code]

[2020-09-23 21:33] hamada147 commented on #1550
I'm facing the issue as @jarroyoesp with one little difference. I'm using Kotlin Version 1.4.10

[2020-09-24 02:15] xiaobailong24 commented on #1550
@jarroyoesp @hamada147
try create  HttpClient with `Ios` HttpClientEngine.
For details, please refer to my example above.

[2020-09-24 05:45] werner77 commented on #1550
Try creating a new HttpClient every time you use it instead of retaining it in an instance variable. Also disable logging (remove the logging config from the client config).

I got everything working on my side with kotlin 1.4.10, ktor 1.4.0, coroutines 1.3.9-mt-2 and kotlinx.serialization 1.0.0-RC. It even works in a background thread (Dispatchers.DEFAULT). You have to take care though to create

[2020-09-24 15:38] jarroyoesp commented on #1550
Thanks, I tried it but it didn't work. Using this I had `HttpClient: mutation attempt of frozen kotlinx.coroutines.JobImpl@37d2078`

[2020-09-24 19:24] corrado4eyes commented on #2020
Hi @keyvanNorouzi , if you want to check on android the reachability of the connection, I suggest you to use the implementation of [NetworkCallback](https://developer.android.com/reference/android/net/ConnectivityManager.NetworkCallback) which have been introduced for android sdk >=24. [Here is a tutorial](https://proandroiddev.com/connectivity-network-internet-state-change-on-android-10-and-above

[2020-09-24 21:09] marcforn commented on #1550
Worked for me with version 1.3.9-native-mt-2

[2020-09-26 06:30] keyvanNorouzi commented on #2020
Hi, I don't mean the reachability of the internet connection.
I want to notify when the socket goes CONNECTION, DISSCONECTED, or CONNECTED

[2020-09-27 22:14] gezn commented on #1734
when will a fix be released for this issue?

[2020-09-28 14:26] averri commented on #160
The `fatJar`  approach didn't work for me. The final jar has no dependencies inside it.

[2020-09-30 08:02] AlexTyurinV commented on #1040
I have this problem reproduced on the version "1.3.2-1.4.0-rc"

[2020-10-01 09:36] ln-12 commented on #1894
Any update?

[2020-10-01 12:27] stevejuma commented on #1163
We have experienced the same performance issue with Netty as outlined above. Manifested in kubernetes with the service being restarted periodically every couple of days. It was difficult to try and reproduce the problem locally. Switching to using Tomcat instead of Netty mitigated the problems we were experiencing.

[2020-10-01 12:32] stevejuma commented on #1885
For anyone experiencing similar issues with ktor containers being restarted by kubernetes due to failures in the liveness probe, we found the culprit to be an issue with Netty. Switching to using Tomcat seemed to resolve our problems.

[2020-10-01 23:28] 1354092549 commented on #2020
When you call 'ws', it is CONNECTING.
When you got a WebsocketSession, it is CONNECTED.
When the incoming channel is closed, it is DISCONNECTED and you can use CAUSE to check the reason.

[2020-10-01 23:46] 1354092549 commented on #1946
Call `client.webSocketSession` instead of `client.ws`, then you can control the session manually.
Note: you must close it to avoid resources leak.

[2020-10-02 18:38] ln-12 commented on #1215
I'm also longingly waiting for websocket support on both Android and iOS. Can we expect it to come soon?

[2020-10-06 23:10] brandonwu commented on #1813
For anybody else encountering this:
`ResponseObserver` splits the response body `ByteReadChannel` into two channels so that the hook can read from it without also consuming it from the response returned at the end of the pipeline. But you also need to consume all the bytes in the body channel sent to the hook with
[code]
or else bad things will happen (timeouts, blank bodies) because the other cha

[2020-10-07 11:05] LukasForst commented on #1813
Unfortunately I can't confirm that, even in the newest (`1.4.1`) Ktor version.

Following code results in the same behaviour as previously (silently dying)
[code]

[2020-10-08 12:58] #1890 closed

[2020-10-08 15:05] hhariri commented on #1133
We're working on it. Thanks.

[2020-10-08 23:34] brandonwu commented on #1813
Sorry that didn't fix it. I had a related problem and that solved it for me.

The only other thing I would suggest would be _if you don't need access to the body_ in your response hook: implement your own feature without using `ResponseObserver` to install it, avoiding its special behavior (it spawns a coroutine to run your hook).

bare-bones example:
[code]

usage:
[code]

output:
[code]

[2020-10-09 14:01] Ornolfr commented on #1540
Getting the same crash with ktor 1.4.1 and coroutines 1.3.9-native-mt-2. How can we fix it?

[2020-10-10 12:38] akuleshov7 commented on #1027
Basic auth still not working on 1.4.0

[2020-10-10 22:08] allevo commented on #158
I'll happy to provide an example of swagger integration.

[2020-10-13 15:19] #1720 closed

[2020-10-15 12:23] e5l commented on #768
Fixed. The fix will be released in Ktor `1.4.2`

[2020-10-15 12:23] #768 closed

[2020-10-15 18:53] frevib commented on #1676
@jeffgnpc Could you elaborate on what you exactly did to fix this? I'm stuck here as well.

[2020-10-20 06:13] devasx666 commented on #916
I solved this problem by this method, explicitly start the server since Ktor does not see the foil **application.conf**

[code]

[2020-10-21 11:05] #1891 closed

[2020-10-21 17:24] monxalo commented on #1783
Don't know if this is new or not but with a combination of [Plugin generated generic serializer](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/serializers.md#plugin-generated-generic-serializer) with [Contextual Serialization](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/serializers.md#contextual-serialization) this is possible.

[code]

With these changes on

[2020-10-22 08:19] #1947 closed

[2020-10-22 13:18] amid67 commented on #916
I have the same issue:

`fun main(args: Array<String>): Unit = io.ktor.server.netty.EngineMain.main(args)
`

`Exception in thread "main" java.lang.IllegalArgumentException: Neither port nor sslPort specified. Use command line options -port/-sslPort or configure connectors in application.conf
        at io.ktor.server.engine.CommandLineKt$commandLineEnvironment$environment$1.invoke(CommandLine.kt:1

[2020-10-22 14:53] graycatdeveloper commented on #1783
@monxalo after set `contextual(PagedData.serializer(Item.serializer()))`
[code]
![image](https://user-images.githubusercontent.com/28825326/96889655-7de57280-148f-11eb-9ee1-498021922c8c.png)

[2020-10-22 15:27] graycatdeveloper commented on #1783
@monxalo
how do you apply your solution to an array?
[code]

[2020-10-22 15:40] monxalo commented on #1783
@graycatdeveloper

If you are using a list might better define it in the `PagedData` class like so:

[code]

[2020-10-22 15:44] monxalo commented on #1783
Drawback of this approach is that `SerializationModule` only allows one serializer for each type. So you if do:

[code]

It will crash at runtime with `SerializerAlreadyRegistered`.

[2020-10-22 15:47] graycatdeveloper commented on #1783
@monxalo
No!
![image](https://user-images.githubusercontent.com/28825326/96896717-84c3b380-1496-11eb-89a6-12b6e6ac3200.png)

I am trying to create a serializer. Can you help
[code]
But doesn't work
[code]

[2020-10-22 15:53] graycatdeveloper commented on #1783
I have a class like this
![image](https://user-images.githubusercontent.com/28825326/96897656-804bca80-1497-11eb-85b3-8591b1ee81f8.png)
The data is always different. Or object or array of objects or primitive.
I am trying to implement something that works well with Gson. But with this everything is complicated :(

[2020-10-22 16:02] graycatdeveloper commented on #1783
How can this problem be solved? Any other way? I'm already tired of looking for answers (

[2020-10-22 16:17] monxalo commented on #1783
I did not find any other way, i ended up using `ApplicationCall` extensions like so:
[code]

[2020-10-23 01:24] edenman commented on #1356
I'm still getting app crashes from OkHttp exceptions, do I need to do anything special to get the global exception handler? https://youtrack.jetbrains.com/issue/KTOR-870

[2020-10-23 09:16] #1204 closed

[2020-10-23 12:14] #1690 closed

[2020-10-24 01:16] aoben10 commented on #467
I can reproduce it on the latest version of ktor. I used the ktor plugin to create my project. Tried both netty and jetty, but still have the same problem

[2020-10-24 07:16] cy6erGn0m commented on #467
Could it be some kind of software like firewall/security/antivirus/scanner?

[2020-10-26 07:59] cy6erGn0m commented on #1208
This is already done.

[code]

Alternatively, you can specify an ObjectMapper instance

[code]

[2020-10-26 07:59] #1208 closed

[2020-10-26 10:31] vvalouch commented on #257
I can confirm the reproducibility even with Ktor 1.4.0 and Ktor 1.4.1.

[2020-10-26 12:48] #2000 closed

[2020-10-26 12:49] #1997 closed

[2020-10-26 12:49] #1993 closed

[2020-10-26 12:49] #1981 closed

[2020-10-26 12:50] #1975 closed

[2020-10-26 12:50] #1954 closed

[2020-10-26 12:51] #1948 closed

[2020-10-26 12:52] #1931 closed

[2020-10-26 12:52] e5l commented on #1900
Fixed in `1.4.1`

[2020-10-26 12:52] #1900 closed

[2020-10-26 12:52] #1804 closed

[2020-10-27 17:10] #1892 closed

[2020-10-27 17:59] #1906 closed

[2020-10-28 09:06] hardysim commented on #1595
To crosslink the progress:

- #1740 contains the `OAuthAuthProvider` but was only merged into a private branch by @e5l
- #1733 contains an additional constant `AuthScheme.Bearer` which is needed by  `OAuthAuthProvider` but is not merged yet
- I've used both in production since I've posted both and they're working fine so I'd be happy if both can me accepted and added to the master-branch.

[2020-10-28 14:35] johnstcn commented on #916
FWIW, I was able to solve this issue for myself by taking the following steps:

1) Commenting out the `sourceSets{...}` stanza in `build.gradle`

2) Ensuring that my project structure looked similar to the following on-disk, which appears to be what the `shadow` plugin wants to see:
[code]

[2020-10-29 08:31] marcdejonge commented on #1509
We see similar performance issues with ktor client using CIO. In our system tests we were using the ktor client, but with CIO the whole test took 30 - 40 seconds. But after switching it to OkHttp it ran in about 6 - 7 seconds.

When I'm running the official benchmarks I also see that CIO is much slower right now:

[code]

ps. We recently upgraded to Kotlin 1.4. And I'm running on macOS right now.

[2020-10-30 00:42] victorcwai commented on #1903
Currently the `takeFrom(String)` function called by `Url(urlString)` allow parsing relative URLs (see https://github.com/ktorio/ktor/pull/849).
However if no base URL is provided in `Url(urlString)`, `protocol` and `host` will default to `http` and `localhost` respectively.

I am not sure if the `Url(urlString)` function should return a default `protocol` and `host`. Maybe it should just set `prot

[2020-11-04 11:07] red-avtovo commented on #975
To the person, who will go through this thread and wouldn't understand how to fix the subj, official documentation describes it clearly now: https://ktor.io/docs/autoreload.html?topic=open-source#recompiling-automatically-on-source-changes

[2020-11-06 08:20] e5l commented on #1945
Closed. Fixed in `1.4.1`. Added tests

[2020-11-06 08:20] #1945 closed

[2020-11-07 00:00] lfmunoz commented on #1986
Tried your application, I don't see the problem.

When I click perform GC, it collects everything.

When I look at file descriptors it is constant

![no_leak](https://user-images.githubusercontent.com/1304440/98425153-b40f1e80-2059-11eb-8c2d-bcf42f02bbf4.png)

➜ ls -la /proc/29988/fd | wc -l
85
➜ ls -la /proc/29988/fd | wc -l
85
➜ ls -la /proc/29988/fd | wc -l
85
➜ ls -la /proc/29988/fd | wc -l
85

[2020-11-07 00:18] Melodeiro commented on #1986
Maybe server is also important, since i started it from Application, as you can see from code. I also have

```implementation("io.ktor:ktor-server-netty:$ktorVersion")```

[2020-11-07 16:40] devsnice commented on #1842
hey, when are planning to it? this docs is really confusing

[2020-11-09 07:59] hhariri commented on #1842
@devsnice Thanks. We'll get it updated.

[2020-11-09 09:36] e5l commented on #1942
Fixed starting from `1.4.0`

[2020-11-09 09:36] #1942 closed

[2020-11-09 12:09] rameezhandel commented on #1972
@MJegorovas
Have a look at [this](https://youtrack.jetbrains.com/issue/KTOR-917), I think this should work for you..

[2020-11-09 18:36] drvdijk commented on #1942
Can you retroactively get the 1.3.2 version in maven central? That would make Micronaut users that can't use jcenter quite happy

[2020-11-10 08:19] alvarosanchez commented on #1942
@e5l the issue reported is that 1.3.2 is not in Central, and as far as I can tell, it still isn't.

Can you please publish that version to Maven Central?

[2020-11-10 09:23] e5l commented on #1942
Nope, `1.3.2` has the wrong sign so the Bintray refuses to sync it with maven central. We can't override files and do that again, I'm sorry.

[2020-11-10 14:17] randombyte-developer commented on #1785
The documentation now says how it should be done: https://ktor.io/docs/configuration.html#hocon-file

[2020-11-10 14:55] stapel commented on #1676
@frevib You need to add "content-type" "application/json" to your response headers.

[2020-11-12 07:57] yeduRaghav commented on #1802
I couldn't find any answers for this issue on YouTrack or anywhere else for that matter.
Is there at least a temporary work around ?

[2020-11-14 02:56] JavierPAYTEF commented on #1540
It seems there is an issue with Kotlin 1.4.10, according to this https://github.com/Kotlin/kotlinx.coroutines/issues/2295
I downgraded ktor to 1.3.2, Kotlin back to version 1.3.72 and coroutines to 1.3.7 and only then it worked, not sure if maybe I had something cached somewhere and it was still compiling with Kotlin 1.4

[2020-11-14 12:16] cy6erGn0m commented on #1673
@orangain there is a change to get MPP uuid. Please see https://github.com/cy6erGn0m/kotlinx-uuid preview if still interested

[2020-11-15 22:10] kutoman commented on #1783
@monxalo an improvement in order to respond with the proper content type (JSON)
[code]

[2020-11-17 17:57] alexwhb commented on #1870
I'm facing the same issue as @smworks. I'm writing a download service in iOS and Android, and both of them need the ability to update a progress indicator.

[2020-11-18 13:10] Orfund commented on #348
Still redirect doesnt work (installed ofc). How can i do force-redirect any http request to https?

[2020-11-20 08:46] cy6erGn0m commented on #348
There are both HttpsRedirect and HSTS feature. Could you please explain, what exactly doesn't work?

[2020-11-20 16:59] charleston10 commented on #1395
someone managed to solve the problem?

[2020-11-21 00:43] Orfund commented on #348
Well really i have already solved that problem by intercepting route and accessing port in request.

The case was building a PWA, that needs the traffic to be forced to go through https. Such a headache to be honest.

`install(HttpsRedirect)` doesnt work as declared, that really did not help

[2020-11-21 10:48] u007 commented on #1734
why is this still open? omg....

[2020-11-21 20:58] cy6erGn0m commented on #348
Could you please explain, what exactly didn't work?

[2020-11-24 13:56] corbella83 commented on #1040
It still happening in 1.4.2

[2020-11-24 15:56] checksummaster commented on #123
install(CORS) {
            anyHost()
        }

[2020-11-28 10:28] woniupapa commented on #882
Anyone fixed this problem? help, the same problem.

[2020-11-28 10:36] wilyarti commented on #882
I haven't looked at this issues in a long time. What I did at the time was use a different http client.

[2020-11-30 06:51] woniupapa commented on #882
![1591606717481_ pic](https://user-images.githubusercontent.com/2526267/100575794-d2de9900-3317-11eb-9dd9-a9087dc5b78a.jpg)
![1601606717561_ pic](https://user-images.githubusercontent.com/2526267/100575944-1507da80-3318-11eb-99cd-2f9d168f1428.jpg)
![1611606717644_ pic](https://user-images.githubusercontent.com/2526267/100575999-2c46c800-3318-11eb-99e4-720df20d6f6e.jpg)
![1621606718988_ pic](https:

[2020-11-30 06:53] woniupapa commented on #882
@wilyarti  I don't know how to post with formdata content.

[2020-11-30 13:22] woniupapa commented on #882
@wilyarti Dear Wilyarti, I removed  //contentType(ContentType.Application.Json) code,It work!!!

[2020-12-01 05:11] NurseyitTursunkulov commented on #1133
owfull documentation owfull!!!! work on it please!

[2020-12-01 12:46] hhariri commented on #1842
@devsnice Just as an update - we have this resolved but we need to publish the new docs. Unfortunately it won't be published in 1.4.3 as the whole doc structure has been revamped. Please keep an eye out on our [blog](https://blog.jetbrains.com/ktor) and [Twitter](https://twitter.com/jetbrainsktor) for updates around new docs. Thanks.

[2020-12-01 12:46] #1842 closed

[2020-12-02 14:16] loxal commented on #233
Just wanted to revisit this case after a few years. **I there a solution available?** I tried to achieve it using Spring Boot filters w/o Ktor but it requires a dee response rewrite. Unfortunately there is not setLocationHeader solution available.

Using Nginx' mod_rewrite could be also a valid approach but then I'd need to split up static files and endpoint logic into different sub-projects which

[2020-12-03 08:43] wkornewald commented on #1217
Why is the response status code validated only when accessing the body? The status is invalid even before that already.

[2020-12-03 09:32] e5l commented on #1217
Cause it's important only when you processing body: `get<MyDataClass>` usually only make sense only when you have `2xx` status, and `get<HttpResponse>` will not fail in any case.

[2020-12-03 09:32] #1217 closed

[2020-12-03 09:36] wkornewald commented on #1217
This inconsistency has caused bugs on our side. If I activate response validation then I expect validation to always happen. We often use `get<HttpResponse>` because we only need to inspect the etag or other headers, but not the body. In all of those cases we never caught bad response status codes because we expected Ktor to consistently do it like it's doing it for all other `get()` calls. Really

[2020-12-03 09:39] e5l commented on #1217
Yep, that looks like we're missing the valid use case. Could you file an issue about that? I will take a look

[2020-12-03 09:50] wkornewald commented on #1217
Yes, sure: https://youtrack.jetbrains.com/issue/KTOR-1412

[2020-12-03 14:10] NurseyitTursunkulov commented on #1587
@charlag is there any progress?

[2020-12-03 14:54] e5l commented on #1587
You can use `OkHttp` engine for `Ktor` as workaround

[2020-12-03 15:30] NurseyitTursunkulov commented on #1587
@e5l how to use it? can you please share code?

[2020-12-03 15:33] NurseyitTursunkulov commented on #1587
@e5l is it in Ktor or in Android?

[2020-12-03 16:13] NurseyitTursunkulov commented on #1587
Also I have this problem:
java.net.SocketTimeoutException: failed to connect to ws/64.70.19.33 (port 80)

even though I specified host as
 host = "http://192.144.444.4"

[2020-12-03 17:52] NurseyitTursunkulov commented on #623
the same thing happens when I connect from android. The simple websocket closes immediately

[2020-12-04 02:56] NurseyitTursunkulov commented on #1587
` val client = HttpClient(OkHttp) {
                    install(WebSockets)
                }
                try {

                    client.ws(
                        "http://192.168.43.4:8080/chat".asCorrectWebSocketUrl,//64.70.19.33
                    ) {}`

this way it worked

[2020-12-04 04:39] NurseyitTursunkulov commented on #1946
@1354092549 send is not resolved. What to use istead?

[2020-12-04 04:47] NurseyitTursunkulov commented on #1427
so unstable framework :((( you kill my 3 days

[2020-12-04 13:15] LifeIsStrange commented on #1427
@NurseyitTursunkulov What are you talking about? Hasn't this been fixed since January? (I can't attest myself I no longer use Ktor)

[2020-12-07 13:42] dtretyakov commented on #1930
Fixed in https://github.com/ktorio/ktor/pull/2187

[2020-12-07 13:42] #1930 closed

[2020-12-08 13:13] sanchin opened #2239 "contentLength() returns null on Android"
With Ktor 1.3.2 (I'm unable to check a newer version for now because of compatibility issues with other libs) I'm not getting a Content-Length header in the response from the following code:

[code]

I've tried both the default client and OkHttp - both don't have the header and response.contentLength() returns null. The same code works on iOS, and I can see the headers when inspecting network traf

[2020-12-13 15:05] jorispz commented on #1767
Closed see https://youtrack.jetbrains.com/issue/KTOR-424

[2020-12-13 15:05] #1767 closed

[2020-12-16 16:51] e5l commented on #2239
Hey @sanchin, could you reopen the issue in YT?

[2020-12-16 16:51] #2239 closed

[2020-12-18 14:42] #129 closed

[2020-12-21 15:14] floscher commented on #1929
I also encountered this issue, see https://github.com/Kotlin/kotlinx.coroutines/issues/2413#issuecomment-749022239 and my minimal example: https://github.com/floscher/ktor-ClassCastException

A CI run where the exception occured: https://github.com/floscher/ktor-ClassCastException/runs/1589576823#step:4:10131

[2020-12-21 17:04] floscher commented on #1929
This seems to be a regression introduced between KTor versions `1.4.1` and `1.4.2`/`1.4.3`:

https://github.com/floscher/ktor-ClassCastException/actions/runs/436231979 vs https://github.com/floscher/ktor-ClassCastException/actions/runs/436232262

[2020-12-21 20:54] fhoner commented on #1045
This is indeed very unfortunate. Are there any updates on this?

[2020-12-22 20:53] Thomas-Vos commented on #1256
Unfortunately this broke again. See new issue [KTOR-1552](https://youtrack.jetbrains.com/issue/KTOR-1552) and PR https://github.com/ktorio/ktor/pull/2270.

[2020-12-29 09:14] #1293 closed

[2020-12-29 20:13] vladf2n commented on #1882
Hey, I'll work on this!

[2020-12-30 09:47] charleston10 commented on #771
Could create an improvement to authenticate the application also with client_credentials (https://tools.ietf.org/html/rfc6749#section-1.3.4)

there it is more complete, following the entire authentication flow oauth2

[2020-12-30 10:31] #1876 closed

[2020-12-30 10:32] #1885 closed

[2020-12-30 10:33] #975 closed

[2020-12-30 10:34] cy6erGn0m commented on #1929
This particular issue is fixed in 1.5.0

[2020-12-30 10:34] #1929 closed

[2020-12-30 10:34] cy6erGn0m commented on #1929
Please file separate tickets for other issues with similar symptoms

[2020-12-30 10:36] #1869 closed

[2020-12-30 10:36] #544 closed

[2020-12-30 10:37] #771 closed

[2020-12-30 10:38] #1158 closed

[2020-12-30 10:39] #482 closed

[2020-12-30 10:39] #445 closed

[2020-12-30 10:40] #378 closed

[2020-12-30 10:42] #466 closed

[2020-12-30 12:04] floscher commented on #1929
What I reported above seems to be also fixed with `1.5.0` ( https://github.com/Kotlin/kotlinx.coroutines/issues/2413#issuecomment-751530225 ), so probably had the same underlying cause

[2020-12-30 21:07] theromis commented on #1894
working on my ios port, finally came to websockets and got
[code]
seems like iOS websockets still not supported.
Any estimations or may be workarounds for now?

[2020-12-31 14:07] cy6erGn0m commented on #1045
The `ApplicationCall` itself already have typed attributes (it actually always had them). So the only you need is to pass an instance of it everywhere.

You can use the coroutine context elements to pass application call to everywhere + [ThreadLocalElement](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines/java.lang.-thread-local/as-context-element.html). Doing

[2020-12-31 14:34] MartinHaeusler commented on #1045
Spring had the `SecurityContextHolder` for a long time, which is globally acessible in an (internally managed) `ThreadLocal`. They're doing just fine with it, never had any complaints about it. The real issue is that (to my knowledge) there's no such thing as a `CoroutineLocal`. And that's painful. I absolutely won't be handing down security contexts through dozens of nested methods (which do noth

[2021-01-02 12:41] cy6erGn0m commented on #1045
Actually, there is the context. But the problem is that it is only available in suspend functions. So it should be coroutine context + thread locals with `ThreadLocalElement` support that could do the trick.

We are at vacation here so I don't have a dev environment so can't verify. But the IDEA is like the following (JVM only):

[code]

+ add a global interceptor to wrap every call into withMyCon

[2021-01-07 00:33] arkanovicz commented on #1199
Just out of curiosity, why not?

[2021-01-07 01:12] theromis commented on #1215
android CIO have websocket support, we using it in Lonje chat app https://play.google.com/store/apps/details?id=com.lonje

[2021-01-07 13:23] fullkomnun commented on #1595
Is there any update regarding this issue?

[2021-01-07 22:02] evertsmits commented on #1829
@theromis Did you happen to find a solution for this?

[2021-01-08 01:07] theromis commented on #1829
@evertsmits my current solution just read whole file before sending and just feed byte array in `send` function

[2021-01-08 05:41] jamesonwilliams commented on #656
This link is dead now. But the content is available here: https://ktor.io/docs/websocket.html#standard-events

[2021-01-08 06:05] KwakGiyoung commented on #656
Oh thank you.

[2021-01-08 08:31] JudeaDumont commented on #1652
So we can't use any jdk over 8 without this warning?

[2021-01-08 15:14] leinardi commented on #1040
We are experiencing this crash after we upgraded from Kotlin 1.3.72 to 1.4.10.

Unfortunately the issue on Firebase side was closed due to inactivity without a proper fix: https://github.com/firebase/firebase-ios-sdk/issues/2626

Is there any workaround available, beside removing Firebase?

[2021-01-09 00:20] vladf2n commented on #1868
Hi! I'll fix this.

[2021-01-10 20:33] emrul commented on #571
I have ktor server with cio working as a native image - I posted this YT issue https://youtrack.jetbrains.com/issue/KTOR-965

[2021-01-11 09:49] Xaseron commented on #571
But this won't help if you want to use Ktor server on your iOS app.

[2021-01-11 21:53] cy6erGn0m commented on #1652
This is not warning but debug message. All these messages are produced by Netty itself, there is nothing to do with ktor. Configure the logger properly to avoid debug messages if not needed.

[2021-01-11 21:56] cy6erGn0m commented on #1652
https://github.com/netty/netty/issues/7817

[2021-01-11 21:56] #1652 closed

[2021-01-12 14:26] vladf2n commented on #1865
I'll work on this.

[2021-01-13 09:26] cy6erGn0m commented on #939
This is already fixed in 1.2.3 , revision 8833146454be7e9314f5c96298134a357af90f4c

[2021-01-13 09:26] #939 closed

[2021-01-13 13:44] charleston10 commented on #846
I've this same problem in version 1.4.2, using android ktor in KMM

[code]

Log
[code]

[2021-01-13 20:39] charleston10 commented on #1829
@theromis can you set an example?
I've same the problem

[2021-01-14 13:46] wayerr opened #2304 "ApplicationCall.locationOrNull raise error"
https://github.com/ktorio/ktor/blob/b5a277cac852ff6865484828df9da6898f4c0062/ktor-features/ktor-locations/jvm/src/io/ktor/locations/Location.kt#L241

[code]

The name of function meaning that it can return null, but it design for throw error in null cases.

[2021-01-14 13:58] #2304 closed

[2021-01-15 14:32] vladf2n commented on #1883
Hi, I want to work on this, but first I have a question: Is it possible to the status-line have an empty status-code or empty status-text? (gonna mention @cy6erGn0m here because he is helping me with other issues hehehe)

[2021-01-19 16:42] ddska commented on #158
@allevo so please do it :)

[2021-01-21 03:32] FlatMapIO commented on #467
I have the same problem. Changing the host to `host=127.0.0.1` will work fine

[2021-01-21 09:53] #1741 closed

[2021-01-21 15:03] juliocesarsantos1020 commented on #1517
@shanling! Did you manage to develop this? Because I want to learn more about it.
I sent you some messages on Slack also on this topic

[2021-01-21 16:06] geofflangenderfer commented on #1132
Fail
[code]
Success
[code]

[2021-01-23 17:32] kamilgregorczyk commented on #1653
ping, this is something really needed, especially that when I run the most basic app, the console says:

[code]

but it does not work, I have to restart server all the time

[2021-01-25 10:26] inspifinity commented on #1894
@e5l yes, please update we are so excited about websocket support for iOS!

[2021-01-26 09:39] e5l commented on #1121
Raw socket is supported in iOS since 1.4.0

[2021-01-26 09:39] #1121 closed

[2021-01-27 12:54] jeanraymonddaher commented on #992
Hi !
Are there any updates regarding this ticket ?
I am also unable to enable caching for iOS.
Thanks

[2021-01-29 06:03] NullByte08 commented on #1132
Try marking `resources` directory(the directory which contains the application.conf) as resources root. i.e. right-click on `resources` directory->Mark directory as-> Resources Root.
And `src` as sources root.

[2021-02-01 17:05] ptsiogas commented on #1431
@alistairsykes is there a way to perform pinning only for the root and intermediate certificate?
Based on tries I can see that I must perform pinning in the whole certificate chain in order to get a succesful response.

[2021-02-02 08:10] e5l commented on #1351
Merged

[2021-02-02 08:10] #1351 closed

[2021-02-02 08:45] e5l commented on #1431
After the fix, you need to pin only a single certificate in the chain

[2021-02-02 09:35] ptsiogas commented on #1431
@e5l in which version I can find the fix? I suppose 1.5.2 ?

[2021-02-02 09:42] e5l commented on #1431
Sure, `1.5.2` on the last week of Feb

[2021-02-02 11:19] ptsiogas commented on #1431
@e5l is there an alpha version I can test;

[2021-02-03 08:46] trieulh-ict opened #2338 "DefaultResponseValidation always called first"
In Android ktor-client version 1.5.0 & 1.5.1, when the response is non 200, `validateResponse` from `HttpClientConfig<*>.addDefaultResponseValidation` is always called first even I created a customized HttpResponseValidator for HttpClient. is this a bug or by design? and if not, how can I disable default validation? i tried to set `expectSuccess = false` but it has no effect.

This config works we

[2021-02-03 09:57] Stexxe commented on #2338
@trieulh-ict please follow the corresponding discussion in [YouTrack](https://youtrack.jetbrains.com/issue/KTOR-1703).

[2021-02-03 09:58] #2338 closed

[2021-02-05 10:25] Stexxe commented on #992
With the [HttpCache](https://api.ktor.io/1.5.1/io.ktor.client.features.cache/-http-cache/index.html) feature installed it works as expected on iOS:
[code]
The sample project is attached [ios_cache.zip](https://github.com/ktorio/ktor/files/5931733/ios_cache.zip)

If you have a case where caching doesn't work as expected please describe it in the relevant [YouTrack issue](https://youtrack.jetbrains.

[2021-02-05 16:55] rishavs commented on #1821
Why did we close this question without attempting to look into it? This makes me wary of using Ktor for my project.

[2021-02-08 09:21] e5l commented on #1431
Sure, I the latest EAP 22: https://ktor.io/eap/

[2021-02-08 19:40] mcsimk opened #2343 "java.lang.StackOverflowError in logger on KTor 1.3.4"
Services on ktor 1.3.4 are logging sometimes
[code]
which might be related to https://github.com/Kotlin/kotlinx.coroutines/issues/1264,
however I can't find a place where JobCancellationException might have been caught and wrapped in another exception.
Route that is logging this is not doing anything in parallel.
This is only happening on ktor 1.3.4, never seen on earlier versions.

[2021-02-09 08:26] Stexxe commented on #2343
@mcsimk, please let's discuss your problem in the following YouTrack issue [KTOR-2040](https://youtrack.jetbrains.com/issue/KTOR-2040).

[2021-02-09 08:26] #2343 closed

[2021-02-12 08:56] Stexxe commented on #1907
@holgerbrandl I've reproduced the `406 Not acceptable` status code with Confluent 5.5.1.
When you send a request with `JsonFeature` installed the `Accept: application/json` header is added. Without it, the client accepts every content type (`Accept: */*`). The solution to accept specific `application/vnd.api+json` content type works for me:
[code]

Please note that this problem is not reproducible

[2021-02-12 09:33] Stexxe commented on #932
@MichaelFay I cannot reproduce your problem with Ktor 1.5.1. Here is the sample project I've created from your description
[fatjar_static.zip](https://github.com/ktorio/ktor/files/5970759/fatjar_static.zip).
I did the following steps:
1. Generate fat JAR: `./gradlew fatjar`
2. Run the application: `java -jar build/libs/fatjar_static-all.jar -port=9000`
3. Open `http://localhost:9000/` in a browser

[2021-02-12 09:50] e5l commented on #1734
Works in `1.5.1`

[2021-02-12 09:50] #1734 closed

[2021-02-12 19:45] holgerbrandl commented on #1907
Thanks for the workaround and the great analysis @Stexxe

[2021-02-16 09:30] ErikHellman commented on #1517
Any updates on this? I can't find any client side API in Ktor for consuming SSE.

[2021-02-19 01:40] joaoeudes7 commented on #975
It needs a lot of settings to allow this auto reload, because? (And after all it still didn't work here :/)

Vert.x for example does not need to run with a parameter to hot reload, and is defined in initial start, this implementation would take a long time?

[2021-02-19 11:04] e5l commented on #975
Hey @joaoeudes7, could you check https://ktor.io/docs/development-mode.html?

[2021-02-23 17:09] corbella83 commented on #1040
Good News:

With kotlin 1.4.30, ktor 1.5.0 and coroutines 1.4.2-native-mt NOT CRASHING anymore.

Seems to be this kotlin-native PR that solves it: https://github.com/JetBrains/kotlin-native/pull/4569

[2021-02-24 07:52] e5l commented on #1040
Hey @corbella83, Thanks for the notice! Closed

[2021-02-24 07:52] #1040 closed

[2021-02-24 09:28] #893 closed

[2021-02-24 09:28] e5l commented on #893
Fixed. Will be released in 1.5.2

[2021-03-01 08:20] ymind commented on #237
Is there any news about this feature?

[2021-03-03 10:53] kobe2000 opened #2378 "Ktor/Netty hang up while Ktor/Jetty is fine"
Hi

I am doing stress test to a ktor app, it is running under Centos 7. The ktor version is `1.5.2`.

First I use Netty as engine, but found the server would die after some times of client reconnection, I used jcmd to view the jvm threads and found a lot of TIMED_WAITING dispatcher thread like following:

[code]

After hours debuging, finally I changed the ktor engine to Jetty, and the server neve

[2021-03-16 18:58] paderick commented on #1797
This issue is still persistent on ktor 1.5.2

Any solutions for it?

[2021-03-16 19:41] paderick commented on #1708
This issue still persist on ktor release 1.5.2.

A work-around can be a custom ConnectionPool like the following:
[code]
The default should be `ConnectionPool(5, 5, TimeUnit.MINUTES)`.

[2021-03-16 23:39] jeffgnpc commented on #1676
[code]
Needed to be:
[code]

[2021-03-19 12:06] ymind opened #2398 "`Route.param()` is not work"
This is my test code:
[code]

Obviously, I want to match only routes with `apiVersion=888`, but it didn't work for me! After checking the source code, I found the problem.

**This line correctly obtained the value of `{apiVersion}`:**
https://github.com/ktorio/ktor/blob/0e2d93a19f7e26cc5f8b5ae173937703779d2f33/ktor-server/ktor-server-core/jvm/src/io/ktor/routing/RoutingResolve.kt#L136

**`Route.pa

[2021-03-22 12:56] volkert-fastned commented on #907
Fixed and included in Ktor release `1.5.0`. See https://youtrack.jetbrains.com/issue/KTOR-688 and https://ktor.io/changelog/1.5

Thanks for implementing this, Ktor developers! :ok_hand:

[2021-03-22 12:56] #907 closed

[2021-03-23 08:09] Stexxe commented on #1744
@blackmo18 could you please share your code for the modules to reproduce this problem?

[2021-03-23 10:10] Stexxe commented on #1994
Most likely this server supports only HTTP/2 protocol but the `CIO` engine supports the only HTTP/1.1. As a workaround use the [Jetty](https://ktor.io/docs/http-client-engines.html#jetty) engine.

[2021-03-23 14:20] graycatdeveloper commented on #1870
use callbackFlow

[2021-03-25 14:44] gandrewstone commented on #1132
This worked for me ONLY if my file name was exactly Application.kt (I had chosen server.kt), and my function as: fun Application.module() {}  (no parameter).  This differs from the ktor docs https://ktor.io/docs/create-server.html#engine-main.

The design decision to wrap "main" and force the user to conform to your custom "main" format is never a good one because your lib is not the heart of my p

[2021-03-27 16:37] jlengrand commented on #1570
Just adding something because I spent some time before finding out the problem : Do check in the headers which kind of content you're receiving from your server.
In my case, I was receiving `Content-Type: text/xml` and I had to adapt to `accept(ContentType.Text.Xml)`, as application wouldn't grab my transformer.
Otherwise, can confirm that XML transformation works like a charm.

[2021-03-29 11:58] #953 closed

[2021-03-30 06:14] e5l commented on #236
Duplicates https://youtrack.jetbrains.com/issue/KTOR-1689.

[2021-03-30 06:14] #236 closed

[2021-03-30 06:16] e5l commented on #225
It looks like the problem is solved. Closed

[2021-03-30 06:16] #225 closed

[2021-03-30 06:22] e5l commented on #158
Duplicated by https://youtrack.jetbrains.com/issue/KTOR-774. Currently WIP

[2021-03-30 06:22] #158 closed

[2021-03-30 07:50] e5l commented on #82
Fixed in Ktor 1.5.0

[2021-03-30 07:50] #82 closed

[2021-03-30 08:17] e5l commented on #417
Responded in YT issue

[2021-03-30 08:17] #417 closed

[2021-03-30 08:19] e5l commented on #410
Obsoleted by https://youtrack.jetbrains.com/issue/KTOR-1790

[2021-03-30 08:19] #410 closed

[2021-03-30 08:20] #409 closed

[2021-03-30 08:20] #408 closed

[2021-03-30 08:26] #390 closed

[2021-03-30 08:29] e5l commented on #379
Fixed in the origin issue

[2021-03-30 08:29] #379 closed

[2021-03-30 08:33] #349 closed

[2021-03-30 08:36] e5l commented on #447
Fixed, see origin issue.

[2021-03-30 08:36] #447 closed

[2021-03-30 08:43] e5l commented on #458
Answered

[2021-03-30 08:43] #458 closed

[2021-03-30 08:44] e5l commented on #461
Can't reproduce

[2021-03-30 08:44] #461 closed

[2021-03-30 08:44] e5l commented on #467
Can't reproduce

[2021-03-30 08:44] #467 closed

[2021-03-30 08:46] e5l commented on #469
Answered

[2021-03-30 08:46] #469 closed

[2021-03-30 14:25] #1822 closed

[2021-03-30 14:32] e5l commented on #1494
Hey @nek4life, could you tell me if it's still a problem?

[2021-03-31 15:40] theothermattm commented on #475
For anyone else who hits this, my issue was that I mistakenly `install`ed `ContentNegotiation` inside the `routing` block and it should have been done outside it.

[2021-03-31 22:43] nek4life commented on #1494
Hey @e5l I unfortunately don't have the code for this anymore. It was on a laptop I don't have access to anymore and never created a repo for it as I was just exploring ktor for the first time.

[2021-04-01 09:56] TheReprator commented on #1977
like i want to test the database portion, so i can i make sure, whether database is correctly inserted or not with test with the command, i gave

[2021-04-02 09:13] e5l commented on #601
Can't reproduce since 1.4.0

[2021-04-02 09:13] #601 closed

[2021-04-02 09:15] #538 closed

[2021-04-05 07:28] e5l commented on #569
Cannot reproduce since ktor 1.4.0

[2021-04-05 07:28] #569 closed

[2021-04-05 07:28] e5l commented on #558
Can't Reproduce since 1.4.0

[2021-04-05 07:28] #558 closed

[2021-04-05 07:29] e5l commented on #557
Fixed in Ktor 1.4.2

[2021-04-05 07:29] #557 closed

[2021-04-05 07:40] e5l commented on #545
Fixed since 1.4.0

[2021-04-05 07:40] #545 closed

[2021-04-05 07:40] e5l commented on #1119
Fixed since 1.4.0

[2021-04-05 07:40] #1119 closed

[2021-04-05 07:46] e5l commented on #728
Obsolete with timeouts feature: https://ktor.io/docs/timeout.html

[2021-04-05 07:46] #728 closed

[2021-04-05 07:46] e5l commented on #732
Should be fixed in Ktor 1.4.0

[2021-04-05 07:46] #732 closed

[2021-04-05 07:52] e5l commented on #752
Can't reproduce in 1.4.1

[2021-04-05 07:52] #752 closed

[2021-04-05 07:54] e5l commented on #769
Fixed in Ktor `1.5.0`

[2021-04-05 07:54] #769 closed

[2021-04-05 07:57] e5l commented on #813
Fixed since 1.5.0

[2021-04-05 07:57] #813 closed

[2021-04-05 07:58] e5l commented on #807
Closed as answered

[2021-04-05 07:58] #807 closed

[2021-04-05 07:59] e5l commented on #821
The problem was related to ByteBufferChannel and was fixed in Ktor `1.5.3`

[2021-04-05 07:59] #821 closed

[2021-04-05 08:39] e5l commented on #942
Unfortunately, we can't support this due to kotlin-native dependencies

[2021-04-05 08:39] #942 closed

[2021-04-05 08:40] #932 closed

[2021-04-05 08:45] e5l commented on #948
Answered

[2021-04-05 08:45] #948 closed

[2021-04-05 08:48] e5l commented on #992
Closed

[2021-04-05 08:48] #992 closed

[2021-04-05 08:50] e5l commented on #1025
The old plugin is deprecated, we will fix this problem in the new plugin

[2021-04-05 08:50] #1025 closed

[2021-04-05 09:01] e5l commented on #1038
Fixed since `1.4.3`

[2021-04-05 09:01] #1038 closed

[2021-04-05 09:09] e5l commented on #1199
Fixed in 1.5.2

[2021-04-05 09:09] #1199 closed

[2021-04-05 09:16] e5l commented on #1095
Fixed in 1.5.2

[2021-04-05 09:16] #1095 closed

[2021-04-05 09:20] e5l commented on #1224
Ktor is not published in npm right now, will be fixed with: https://youtrack.jetbrains.com/issue/KTOR-2399

[2021-04-05 09:20] #1224 closed

[2021-04-05 09:23] e5l commented on #1238
I'm sorry, but we're not going to support the old version of Jackson explicitly. Please consider to forcing old dependency version with your build tool

[2021-04-05 09:23] #1238 closed

[2021-04-05 09:25] e5l commented on #1245
The proxy support is implemented since `1.4.0`

[2021-04-05 09:25] #1245 closed

[2021-04-05 09:26] e5l commented on #1249
Fixed with Kotlin update

[2021-04-05 09:26] #1249 closed

[2021-04-05 09:29] e5l commented on #1263
Can't reproduce with `1.5.2`

[2021-04-05 09:29] #1263 closed

[2021-04-05 09:30] e5l commented on #1266
Finally fixed in `1.5.3`

[2021-04-05 09:30] #1266 closed

[2021-04-05 11:00] Stexxe commented on #1006
Cannot reproduce it with Ktor 1.5.3

[2021-04-05 11:00] #1006 closed

[2021-04-05 11:11] Stexxe commented on #1028
Can't reproduce it with Ktor 1.5.3 and Kotlin 1.4.31.

[2021-04-05 11:11] #1028 closed

[2021-04-05 11:16] Stexxe commented on #1181
@elkowar, could you please tell me do you still have this problem using the latest version of Ktor? If so, do you have an idea of how we can reproduce it?

[2021-04-05 11:21] Stexxe commented on #1099
@lamba92 do you still have a problem with a redirect URL?

[2021-04-05 11:31] #1300 closed

[2021-04-05 11:35] Stexxe commented on #1090
That was a buggy behavior of the test application engine and the `StatusPages` feature interaction. You can observe the expected (without those lines) behavior with Ktor 1.5.3.

[2021-04-05 11:35] #1090 closed

[2021-04-05 11:35] e5l commented on #1307
Obsolete

[2021-04-05 11:35] #1307 closed

[2021-04-05 11:46] e5l commented on #1397
Yep

[2021-04-05 11:46] #1397 closed

[2021-04-05 11:58] e5l commented on #1381
Hey, here is a guide on the website: https://ktor.io/docs/fatjar.html

[2021-04-05 11:58] #1381 closed

[2021-04-05 12:09] e5l commented on #1367
Released in 1.3.0

[2021-04-05 12:09] #1367 closed

[2021-04-05 12:12] #1335 closed

[2021-04-05 12:12] #1334 closed

[2021-04-05 12:13] e5l commented on #1354
Here is the tutorial on how to write the configuration: https://ktor.io/docs/proguard.html

[2021-04-05 12:13] #1354 closed

[2021-04-05 12:14] e5l commented on #1333
The fix is merged in 1.3.0

[2021-04-05 12:14] #1333 closed

[2021-04-05 12:15] e5l commented on #1328
It's OkHttp version issue. I'm not sure that we're going to support old versions of OkHttp, consider using Android engine instead

[2021-04-05 12:15] #1328 closed

[2021-04-05 12:16] #1321 closed

[2021-04-05 12:18] e5l commented on #1448
I'm not sure that we're going to support using config outside of the application. Consider reading the configuration file with an external tool instead.

[2021-04-05 12:18] #1448 closed

[2021-04-05 12:21] e5l commented on #1436
Can't reproduce with ktor 1.5.0

[2021-04-05 12:21] #1436 closed

[2021-04-05 12:23] e5l commented on #1433
The bug was in ktor-client-apache and it should be fixed in Ktor 1.5.3

[2021-04-05 12:23] #1433 closed

[2021-04-05 12:24] e5l commented on #1426
Please reopen if the problem is still active

[2021-04-05 12:24] #1426 closed

[2021-04-05 12:25] #1418 closed

[2021-04-05 12:27] e5l commented on #1454
Native socket support was introduced in `1.4.0`

[2021-04-05 12:27] #1454 closed

[2021-04-05 12:30] e5l commented on #1482
Fixed in 1.3.2

[2021-04-05 12:30] #1482 closed

[2021-04-05 12:56] e5l commented on #1494
Should be fixed with kotlin 1.3.61

[2021-04-05 12:56] #1494 closed

[2021-04-05 12:57] e5l commented on #1495
Closed

[2021-04-05 12:57] #1495 closed

[2021-04-05 13:02] e5l commented on #1503
Can't reproduce

[2021-04-05 13:02] #1503 closed

[2021-04-05 13:04] e5l commented on #1518
Fixed in 1.4.0

[2021-04-05 13:04] #1518 closed

[2021-04-05 13:06] #1532 closed

[2021-04-05 13:07] e5l commented on #1540
Should be fixed with ktor 1.5.0

[2021-04-05 13:07] #1540 closed

[2021-04-05 13:09] e5l commented on #1548
Fixed in 1.4.2

[2021-04-05 13:09] #1548 closed

[2021-04-05 13:11] e5l commented on #1557
Fixed in 1.4.0

[2021-04-05 13:11] #1557 closed

[2021-04-05 13:14] #1578 closed

[2021-04-05 13:15] #1587 closed

[2021-04-05 13:15] #1588 closed

[2021-04-05 13:19] e5l commented on #1600
Fixed with 1.5.3

[2021-04-05 13:19] #1600 closed

[2021-04-05 13:22] #1608 closed

[2021-04-05 13:22] e5l commented on #1612
Closed

[2021-04-05 13:22] #1612 closed

[2021-04-05 13:23] e5l commented on #1617
The plugin is deprecated

[2021-04-05 13:23] #1617 closed

[2021-04-05 13:35] #1636 closed

[2021-04-05 13:46] e5l commented on #1647
Here is the updated guide: https://ktor.io/docs/heroku.html

[2021-04-05 13:46] #1647 closed

[2021-04-05 13:49] e5l commented on #1656
Fixed in Ktor 1.5.3 release

[2021-04-05 13:49] #1656 closed

[2021-04-05 13:50] e5l commented on #1657
Fixed in 1.5.3

[2021-04-05 13:50] #1657 closed

[2021-04-05 13:52] e5l commented on #1663
Fixed since 1.4.0

[2021-04-05 13:52] #1663 closed

[2021-04-05 13:54] #1669 closed

[2021-04-05 14:48] e5l commented on #1694
Fixed

[2021-04-05 14:48] #1694 closed

[2021-04-05 14:50] e5l commented on #1691
Fixed in Ktor 1.5.0

[2021-04-05 14:50] #1691 closed

[2021-04-05 15:04] Stexxe commented on #1242
Can't reproduce with Ktor 1.5.3. See details in the [KTOR-586](https://youtrack.jetbrains.com/issue/KTOR-586).

[2021-04-05 15:04] #1242 closed

[2021-04-05 15:07] e5l commented on #1729
Fixed in 1.4.1

[2021-04-05 15:07] #1729 closed

[2021-04-05 15:08] e5l commented on #1731
Fixed in Kotlin 1.4.0

[2021-04-05 15:08] #1731 closed

[2021-04-05 15:11] Stexxe commented on #1259
Can't reproduce with Ktor 1.5.3.

[2021-04-05 15:11] #1259 closed

[2021-04-05 15:13] e5l commented on #1747
Should be fixed with 1.5.3 release

[2021-04-05 15:13] #1747 closed

[2021-04-05 15:14] e5l commented on #1760
Closed

[2021-04-05 15:14] #1760 closed

[2021-04-05 15:16] e5l commented on #1786
Can't reproduce

[2021-04-05 15:16] #1786 closed

[2021-04-05 15:17] e5l commented on #1788
I'm not sure that Ktor should have DI inside. There are lots of Kotlin libraries that make DI

[2021-04-05 15:17] #1788 closed

[2021-04-05 15:20] #1807 closed

[2021-04-05 15:38] e5l commented on #1855
Fixed since 1.5.0

[2021-04-05 15:38] #1855 closed

[2021-04-05 15:41] e5l commented on #1868
Fixed in 1.5.1

[2021-04-05 15:41] #1868 closed

[2021-04-05 15:42] e5l commented on #1870
Answered in YT

[2021-04-05 15:42] #1870 closed

[2021-04-05 15:43] e5l commented on #1882
Fixed in 1.5.1

[2021-04-05 15:43] #1882 closed

[2021-04-05 15:47] #1907 closed

[2021-04-05 15:48] e5l commented on #1922
Fixed since 1.5.0

[2021-04-05 15:48] #1922 closed

[2021-04-05 15:49] e5l commented on #1936
Fixed in 1.5.2

[2021-04-05 15:49] #1936 closed

[2021-04-05 15:50] e5l commented on #1940
Can't reproduce since 1.4.0

[2021-04-05 15:50] #1940 closed

[2021-04-05 15:51] e5l commented on #1946
Fixed in 1.5.1

[2021-04-05 15:51] #1946 closed

[2021-04-05 15:51] e5l commented on #1950
Fixed in 1.5.2

[2021-04-05 15:51] #1950 closed

[2021-04-05 15:52] e5l commented on #1959
Fixed in 1.5.2

[2021-04-05 15:52] #1959 closed

[2021-04-05 15:54] e5l commented on #1967
Released in 1.4.0

[2021-04-05 15:57] e5l commented on #1986
Can't reproduce

[2021-04-05 15:57] #1986 closed

[2021-04-05 16:00] e5l commented on #2013
Duplicate

[2021-04-05 16:00] #2013 closed

[2021-04-05 16:12] lamba92 commented on #1099
Unfortunately I do not work on that project anymore and I remember very little about it!

[2021-04-05 16:12] #1099 closed

[2021-04-05 16:29] spauldhaliwal commented on #1967
@e5l  I'm on ktor and ktor-auth 1.5.2 and I don't see this feature. Was it removed? Even looking in the source code I don't see it.

[2021-04-05 22:09] jeffdgr8 commented on #1967
@e5l this has not been released yet. [The PR](https://github.com/ktorio/ktor/pull/1991) was merged to the [vbr/bearer-auth](https://github.com/ktorio/ktor/tree/vbr/bearer-auth) branch, pending [finalizing the API](https://github.com/ktorio/ktor/pull/1991#issuecomment-657628167) before releasing.

[2021-04-06 03:34] e5l commented on #1967
Sorry, didn't notice.

[2021-04-08 15:15] sonder-joker commented on #1691
I still get error at version 1.5.1.
[code]
[code]

[2021-04-13 04:10] JasonMing commented on #1088
`maxFrameSize` option is only available on incoming messages.
No user API can set the continuation opcode among continuous frames.
DefaultWebSocketSession also will not split the big frames.

There is no any workaround we can do...

[2021-04-14 15:53] mahramane commented on #1877
Yes.
I also think this feature is necessary for any framework.

[2021-04-21 09:22] e5l commented on #1314
I checked the API and see no good ways to support legacy URL encoding along with the correct one. We also can't fix the default one to use a deprecated version.

[2021-04-21 09:22] #1314 closed

[2021-04-23 08:53] e5l commented on #716
Resloved. Closed

[2021-04-23 08:53] #716 closed

[2021-04-26 16:07] Firerrd commented on #1127
Ran into the same problem. Found out that I was use `HttpMethod.Get` and `append("Content-Type", "application/json")` at the same time. It is total fine for `HttpMethod.Post` request. Seems like this is the reason cause the problem.
The error message is useless in the case.

[2021-04-27 18:49] Dominaezzz commented on #1851
I think this has been fixed now.

[2021-04-28 06:01] e5l commented on #1851
Thanks for the notice, closed

[2021-04-28 06:01] #1851 closed

[2021-05-04 05:38] miltonwu commented on #1967
Hi all,

Do we have any progress for this feature?
I am looking forward to this.

Thanks.

[2021-05-04 15:18] svprdga commented on #1815
Hi, I'm getting this error with version 1.5.3.

I consume the API from Android and from iOS. In android everything works OK, but in iOS this CancellationException occurrs from time to time, so I can confirm that this bug is not fixed.

Logs:

[code]

[2021-05-06 13:25] e5l commented on #1967
Merged in main. Will be available in Ktor 1.6.0

[2021-05-06 13:25] #1967 closed

[2021-05-12 12:42] #1049 closed

[2021-05-14 12:49] docee commented on #895
It is a deadlock problem.
See this [KTOR-2683](https://youtrack.jetbrains.com/issue/KTOR-2683)

[2021-05-14 15:37] #336 closed

[2021-05-17 06:44] #1708 closed

[2021-05-17 16:36] leolr02 commented on #1753
Still persist the problem, any idea for solve that?

[2021-05-20 14:42] OlafurBJonsson commented on #1989
Is there any update on this or at least some method of going about this. I've tried overriding/extending the class but unable as it is set to final.

[2021-05-20 14:43] ptsiogas commented on #1780
@dmitrievanthony this piece of code is causing an exception:

Kotlin version 1.5.4

`failed with exception: kotlinx.coroutines.JobCancellationException: Parent job is Completed; job=JobImpl{Completed}@d0bcbe0`

Even though I am not a coroutine expert I suspect that when HttpClientCall -> receive method is called and more specifically the part below, the job is already completed and this is causing

[2021-05-20 14:44] e5l commented on #1780
Could you file a new issue for this bug?

[2021-05-20 14:55] ptsiogas commented on #1780
@e5l I have opened a new issue, you can find it [here](https://youtrack.jetbrains.com/issue/KTOR-2711).
Thanks for the support, I hope we can come to a solution because this seems like a major issue.

[2021-05-20 14:56] e5l commented on #1780
Thanks, will take a look

[2021-05-29 13:47] nordiauwu commented on #1923
any progress?

[2021-05-31 09:06] volkert-fastned commented on #907
Correction: this feature was included in release `1.6.0`: https://github.com/ktorio/ktor/releases/tag/1.6.0

[2021-05-31 12:33] e5l commented on #525
Http2 push is deprecated. Closed

[2021-05-31 12:33] #525 closed

[2021-06-01 12:27] fluidsonic opened #2492 "Random NPEs in CIOEngine"
I have random NPEs in `selector.coroutineContext[Job]!!.join()` when running my unit tests.
The NPEs aren't logged anywhere. I've only noticed them because I've set a breakpoint for `NullPointerException`.

I haven't been able to make it reproducible yet and I cannot share the project.

https://github.com/ktorio/ktor/blob/dc34eb21a404de321a00d7a07b80808d1c18c400/ktor-client/ktor-client-cio/common/

[2021-06-01 12:34] fluidsonic commented on #2492
Oops. Moved to https://youtrack.jetbrains.com/issue/KTOR-2764

[2021-06-01 12:34] #2492 closed

[2021-06-07 13:32] e5l commented on #831
Fixed since Ktor 1.3.2

[2021-06-07 13:32] #831 closed

[2021-06-08 05:54] nilskasseckert commented on #1759
Hi,
I get the same error on Kotlin Multiplattform for iOS with following versions:
[code]

What can I do?

[2021-06-08 06:54] e5l commented on #319
Fixed in `2.0.0`

[2021-06-08 06:54] #319 closed

[2021-06-10 12:46] unoexperto commented on #1726
@oleg-larshin Folks, any update on this ? Without KType we can't use 3rd-party serializers such as Mosi with generic values (e.g. List<String>).

[2021-06-11 09:06] Stexxe commented on #1965
@pmorch I cannot reproduce it with Ktor 1.6.0.

[2021-06-11 09:27] Stexxe commented on #1941
@Masterzach32 I can catch `TemplateNotFoundException` and `ParseException` with StatusPages on Ktor 1.6.0. Please tell me how exactly do you trigger `TemplateException`?

[2021-06-11 09:56] Stexxe commented on #1904
It doesn't work because of the following two lines in an interceptor:
[code]

So when you try to receive a text Ktor doesn't apply converter. You need to receive an object of a custom type to make `convertForReceive` be called:
[code]
[code]

[code]

[2021-06-11 09:56] #1904 closed

[2021-06-15 06:25] e5l commented on #1818
Hey @rock3r, Hey, Seb. The subject of `PipelineContext` is the messages what you're looking for. Could you verify that it works for you?

[2021-06-15 06:25] #1818 closed

[2021-06-15 12:22] Stexxe commented on #1858
Could you please share a complete code sample to reproduce the `SerializationException`?

[2021-06-17 05:33] e5l commented on #268
Hey, @noncom. I'm not sure we can do anything about it, the routing table is generated in runtime and there are valid use cases for that. Maybe we can try to make such stuff as inspection in the IDE. I will create a separate issue.

[2021-06-17 05:33] #268 closed

[2021-06-17 05:35] e5l commented on #268
https://youtrack.jetbrains.com/issue/KTOR-2826

[2021-06-17 11:59] Stexxe commented on #1387
Can't reproduce with Ktor 1.6.0.

[2021-06-17 11:59] #1387 closed

[2021-06-18 17:17] android10 commented on #366
You can use [StatusPages][1] plugin to respond appropriately to any failure state. It does also let respond to:

    -exceptions- Configures response based on mapped exception classes.
    -status- Configures response to status code value.
    -statusFile- Configures standard file response from classpath.

In your case this you can do something like this:

    install(StatusPages) {
        status

[2021-06-21 11:23] TomWayne98 commented on #1540
This issue is still occurring with KTOR 1.6.0. Any update on this?

[2021-06-21 14:39] Stexxe commented on #1241
I am able to match that URI with both `{...}` and `*` using Ktor 1.6.0.

[2021-06-21 14:39] #1241 closed

[2021-06-21 14:45] Stexxe commented on #1246
You can customize an instance of `HttpAsyncClientBuilder` with the following code:
[code]
But it doesn't have the `setTracing` method.

[2021-06-21 14:45] #1246 closed

[2021-06-23 08:53] Stexxe commented on #1411
Can't reproduce it cause that API is not available anymore.

[2021-06-23 08:53] #1411 closed

[2021-06-24 10:15] Stexxe commented on #1735
@Ribesg could you please share a code snippet to reproduce this problem?

[2021-06-24 11:22] Stexxe commented on #1695
I can still reproduce it using Ktor 1.6.0 when running a development server with the following code:
[code]

[2021-06-25 11:13] Stexxe commented on #1034
You can use `byteContent` property to get body of a response as a binary:
[code]

[2021-06-25 11:13] #1034 closed

[2021-06-27 15:00] AlexanderKudinov commented on #1894
Hi! Any news? Websocket support for iOS is really very necessary. Looking forward!

[2021-06-27 15:25] ztkmkoo commented on #1754
Hi, @dkrivoruchko
Can I get more information bout this issue? I test it on my local but everything works. See https://youtrack.jetbrains.com/issue/KTOR-430

[2021-06-28 06:14] e5l commented on #1923
Nope, could you tell me what kind of proxy you want to use?

[2021-06-28 06:30] e5l commented on #1540
@TomWayne98, could you share the snippet with the exception?

[2021-06-28 07:34] e5l commented on #1909
Merged

[2021-06-28 07:34] #1909 closed

[2021-06-28 07:56] nordiauwu commented on #1923
HTTP proxy with password-based auth

[2021-06-28 14:09] Stexxe commented on #1072
Cannot reproduce it.

[2021-06-28 14:09] #1072 closed

[2021-06-28 14:19] Stexxe commented on #1012
Fixed by https://github.com/scope-demo/ktor/commit/6a4a78e1a243360521bcbbb3cd403b73cccd8346

[2021-06-28 14:19] #1012 closed

[2021-06-28 14:21] Stexxe commented on #1030
Could you please explain what exact problem do you have with those messages?

[2021-06-28 15:34] Stexxe commented on #985
You can use explicitly set `Content-Type` header to `application/json` and respond with a JSON:
[code]

[2021-06-29 07:47] #742 closed

[2021-06-29 10:04] kalgecin commented on #1127
I'm also facing this issue. The api I'm calling REQUIRES Content-Type header in a GET request (yes I know why?), otherwise it returns error. I'm currently using another http library, but would like to move my library to Multiplatform and Ktor seems to be a good option. Is content-type blocked in Ktor GET for a reason? Are there any plans to allow it?

[2021-06-30 07:43] e5l commented on #124
There is a logback.xml file for that. I'm not sure why do we need different approach to configure that

[2021-06-30 07:43] #124 closed

[2021-06-30 12:06] Stexxe commented on #1007
Cannot reproduce it using Ktor 1.6.0 with the following modification:
[code]

[2021-06-30 12:06] #1007 closed

[2021-07-01 01:19] peya-lucas-milotich commented on #1223
``Hello!

I my case I see old gen memory keeps increasing until I get OOO.

[code]

[2021-07-01 06:14] kobe2000 commented on #1030
In my opinion, the web server should ignore data outgoing IO exceptions, or log at TRACE level, like Tomcat etc.

[2021-07-01 07:45] AsiaMa commented on #1163
Your code may have blocked code.

[2021-07-01 09:57] Stexxe commented on #1556
Cannot reproduce with Ktor 1.6.1.

[2021-07-01 09:57] #1556 closed

[2021-07-01 10:23] Azbesciak commented on #1967
Hello, looking at this class
[code]

What is the point in `refreshToken` as `String`?

[2021-07-02 11:05] Stexxe commented on #1829
@theromis could you please tell me where the `reader` variable is defined?

[2021-07-02 11:19] Stexxe commented on #1783
Cannot reproduce with Ktor 1.6.1.

[2021-07-02 11:19] #1783 closed

[2021-07-02 11:33] Stexxe commented on #1829
Cannot reproduce with Ktor 1.6.1.

[2021-07-02 11:33] #1829 closed

[2021-07-05 10:35] Stexxe commented on #1687
Cannot reproduce with Ktor 1.6.1.

[2021-07-05 10:35] #1687 closed

[2021-07-05 10:42] Stexxe commented on #1686
Cannot reproduce with Ktor 1.6.1.

[2021-07-05 10:42] #1686 closed

[2021-07-06 10:13] #672 closed

[2021-07-06 10:50] Stexxe commented on #815
I would inline the method body of `HTML.pageInline` into `pageAsBlock` but nonetheless, your approach is fine. IMHO the API of this library is mentally difficult to compose because of mutation and methods' receivers.

[2021-07-06 10:51] #815 closed

[2021-07-07 09:51] #778 closed

[2021-07-07 09:57] Stexxe commented on #833
Cannot reproduce with Ktor 1.6.1.

[2021-07-07 09:57] #833 closed

[2021-07-07 10:10] Stexxe commented on #840
Cannot reproduce with Ktor 1.6.1.

[2021-07-07 10:10] #840 closed

[2021-07-07 10:28] Stexxe commented on #878
You can use a [tail card](https://ktor.io/docs/routing-in-ktor.html#tailcard) matcher to solve your problem:
[code]

[2021-07-07 10:28] #878 closed

[2021-07-07 10:37] Stexxe commented on #882
@wilyarti as a workaround you can override a `contentType` property of the `OutgoingContent` class. Here is an example:
[code]

[2021-07-08 11:25] Stexxe commented on #1653
Cannot reproduce with Ktor 1.6.1.

[2021-07-08 11:25] #1653 closed

[2021-07-08 19:44] stangls commented on #368
I just wanted to thank you at this point for the notification at https://ktor.io/docs/locations.html#route-handlers

[2021-07-09 11:12] Stexxe commented on #677
Cannot reproduce with Ktor 1.6.1.

[2021-07-09 11:12] #677 closed

[2021-07-09 11:25] Stexxe commented on #758
@lamba92 can you reproduce this problem with Ktor 1.6.1? If yes, please share a code snippet to reproduce it.

[2021-07-09 11:50] Stexxe commented on #917
I cannot reproduce this error using Ktor 1.6.1 with the following code:
[code]

[2021-07-09 11:50] #917 closed

[2021-07-09 12:02] Stexxe commented on #915
In your case, files are served from the resources folder which is located inside a JAR. When an image is uploaded, your application saves it to a filesystem. The problem is that resources are packed into a JAR during the build process and read-only inside it.

[2021-07-09 12:02] #915 closed

[2021-07-10 23:56] lamba92 commented on #758
Nope, not anymore!

[2021-07-10 23:56] #758 closed

[2021-07-11 14:03] nassian commented on #1857
Then, how does the server know if the channel is closed normally and the client is not connected to the server anymore? So we can remove this terminated connection from the list of connections.

[2021-07-12 09:00] kiru commented on #35
Why is this issue closed?

[2021-07-12 09:39] Stexxe commented on #35
@kiru I've created a [feature request](https://youtrack.jetbrains.com/issue/KTOR-2910) in YouTrack that you can follow.

[2021-07-12 10:23] dphans commented on #1127
I think this is a very basic limitation...
Not all endpoints accept content-type application/json, there are some endpoints used to upload documents (such as multipart formdata), how can I change the content-type in some specific cases?

[2021-07-12 13:03] Stexxe commented on #1504
Cannot reproduce with Ktor 1.6.1.

[2021-07-12 13:03] #1504 closed

[2021-07-13 10:05] Stexxe commented on #1763
If it's still reproducible with Ktor 1.6.1 then please share a sample code to reproduce it.

[2021-07-13 10:26] Stexxe commented on #1665
Cannot reproduce with Ktor 1.6.1.

[2021-07-13 10:26] #1665 closed

[2021-07-13 11:07] Stexxe commented on #1552
Only TLSv1.2 and TLSv1.3 protocols are enabled by default using Ktor 1.6.1 and Netty engine.

[2021-07-13 11:07] #1552 closed

[2021-07-13 11:13] Stexxe commented on #1485
@icode could you please explain it in more detail? How in your opinion the code should look like?

[2021-07-14 09:04] Stexxe commented on #1139
Fixed by https://github.com/ktorio/ktor/pull/2522. The fix will be released in version 2.0.0.

[2021-07-14 09:04] #1139 closed

[2021-07-14 12:17] gnarea commented on #495
FYI, I created this minimal repo to demo ktor 1.6 on Android 5+: https://github.com/gnarea/minimal-ktor-server-android

[2021-07-15 10:03] Stexxe commented on #940
I cannot reproduce this problem with Ktor 1.6.1 when having `sendWithoutRequest { true }` in a basic authentication config.

[2021-07-15 10:09] Stexxe commented on #1046
Cannot reproduce with Ktor 1.6.1.

[2021-07-15 10:09] #1046 closed

[2021-07-15 10:36] Stexxe commented on #1057
Cannot reproduce with Ktor 1.6.1.

[2021-07-15 10:36] #1057 closed

[2021-07-15 10:57] Stexxe commented on #1161
I cannot reproduce it with Ktor 1.6.1. If I have `mykey = ewqe` in my config and pass `-config` flag with its path as a value then the following code prints value of a key as expected:
[code]

[2021-07-15 10:57] #1161 closed

[2021-07-15 18:43] rlerch opened #2559 "Invalid hex byte exception when decoding invalid query string"
Hello All,

A get request with a malformed query string causes a 500 error with the message
`invalid hex byte 's%' at index 3 of '/?%s%'`

Steps to reproduce,

- Start a ktor server.
- Navigate to http://localhost:2000/?%s%
- Server than returns 500

Expected Behavior

Server returns 400 Bad Request

[2021-07-15 22:54] andersoncanteiro commented on #1040
Hi @e5l, first of all, thanks for your work, I really appreciate

I am still facing this problem. Here it is more details about

[code]

[2021-07-16 08:07] Stexxe commented on #2559
@rlerch unfortunately, I cannot reproduce this error. Could you please share a code snippet and tell me what version of Ktor do you use?

[2021-07-16 08:09] Stexxe commented on #2559
Thank you for creating the [YT issue](https://youtrack.jetbrains.com/issue/KTOR-2934).

[2021-07-16 08:09] #2559 closed

[2021-07-16 10:45] Stexxe commented on #1279
The messages of unhandled requests signalize some error. Could you please share a code snippet to reproduce your problem?

[2021-07-16 11:11] Stexxe commented on #1401
Cannot reproduce with Ktor 1.6.1.

[2021-07-16 11:11] #1401 closed

[2021-07-16 11:22] Stexxe commented on #1444
Cannot reproduce with Ktor 1.6.1 by running the following code:
[code]

[2021-07-16 11:22] #1444 closed

[2021-07-16 11:28] Stexxe commented on #1445
Cannot reproduce with Ktor 1.6.1.

[2021-07-16 11:28] #1445 closed

[2021-07-17 20:16] rustamsmax commented on #992
But what about file caching. I tried to implement myself by I couldn't extend internal classes.

[2021-07-19 15:00] Stexxe commented on #850
Cannot reproduce with Ktor 1.6.1 and IntelliJ IDEA 2021.1.3.

[2021-07-19 15:00] #850 closed

[2021-07-19 15:02] #911 closed

[2021-07-19 15:24] Stexxe commented on #926
This problem could be reproduced by receiving form parameters when JSON in a request body:
[code]

[2021-07-19 16:16] Stexxe commented on #1056
Customization of a default request config works as expected with Ktor 1.6.1:
[code]

[2021-07-20 08:44] Stexxe commented on #1001
Cannot reproduce with Ktor 1.6.1.

[2021-07-20 08:44] #1001 closed

[2021-07-20 09:05] Stexxe commented on #1497
Could you please describe a case when a server stops working after an exception?

[2021-07-20 09:59] Stexxe commented on #1461
Cannot reproduce with Ktor 1.6.1.

[2021-07-20 09:59] #1461 closed

[2021-07-21 08:36] #673 closed

[2021-07-21 09:08] Stexxe commented on #990
Cannot reproduce using Ktor 1.6.1 and JDK 1.8.

[2021-07-21 09:08] #990 closed

[2021-07-21 09:11] Stexxe commented on #1029
I cannot reproduce it.

[2021-07-21 09:11] #1029 closed

[2021-07-21 09:14] Stexxe commented on #1042
@Syrou could you please share the exact steps to reproduce your problem?

[2021-07-21 09:24] Stexxe commented on #1052
Cannot reproduce with Ktor 1.6.1.

[2021-07-21 09:24] #1052 closed

[2021-07-22 10:37] Stexxe commented on #1084
I am unable to reproduce it.

[2021-07-22 10:37] #1084 closed

[2021-07-22 10:58] Stexxe commented on #1180
Cannot reproduce it using Ktor 1.6.1.

[2021-07-22 10:58] #1180 closed

[2021-07-22 11:04] Stexxe commented on #1184
Cannot reproduce using Ktor 1.6.1.

[2021-07-22 11:04] #1184 closed

[2021-07-22 11:18] Stexxe commented on #1186
Cannot reproduce using Ktor 1.6.1.

[2021-07-22 11:18] #1186 closed

[2021-07-22 11:25] Stexxe commented on #1191
Note: the test from the [comment](https://github.com/ktorio/ktor/issues/1191#issuecomment-520911339) passes using Ktor 1.6.1.

[2021-07-22 11:51] Stexxe commented on #1221
Cannot reproduce using Ktor 1.6.1.
Server:
[code]

Client:
[code]

[2021-07-22 11:51] #1221 closed

[2021-07-23 09:10] Stexxe commented on #1223
I cannot reproduce a memory leak by @Fuud's test using Ktor 1.6.1. @peya-lucas-milotich could you please share a complete code snippet?

[2021-07-23 09:14] Stexxe commented on #1225
Could you please share a code snippet to reproduce this problem if it's still relevant?

[2021-07-23 09:27] Stexxe commented on #1226
Cannot reproduce this problem with `session.cancel()` (`WebSocketSession.terminate` is deprecated) call followed by `client.close()` using Ktor 1.6.1.

[2021-07-23 09:27] #1226 closed

[2021-07-23 09:31] sickfar commented on #233
@loxal Checkout this. Yeah, it's dirty copy from ktor, but it works. I will try to make it as a pull request if I have time

[code]

[2021-07-23 09:47] #1296 closed

[2021-07-23 09:51] #1298 closed

[2021-07-25 11:11] #1403 closed

[2021-07-25 19:01] loxal commented on #233
It's not a priority for me at the moment as I found an nginx-based solution a while ago already but having this feature mainlined would make me switch from my custom nginx implementation. Having this logic inside the application layer and not at the edge simplifies testing greatly.

[2021-07-26 13:03] #1391 closed

[2021-07-26 13:27] Stexxe commented on #1395
Cannot reproduce it using Ktor 1.6.1 with the following code:
[code]

[2021-07-26 13:27] #1395 closed

[2021-07-26 13:32] Stexxe commented on #1451
Are able to still reproduce that problem?

[2021-07-26 13:37] Stexxe commented on #1469
Cannot reproduce using Ktor 1.6.1.

[2021-07-26 13:37] #1469 closed

[2021-07-26 13:50] Stexxe commented on #1683
To make it work you need to install the [ContentNegotiation](https://ktor.io/docs/serialization.html) plugin and add `Content-Type` header with a value `application/json` to a request. Here is the code:
[code]

[2021-07-26 13:50] #1683 closed

[2021-07-26 14:00] Stexxe commented on #1696
Cannot reproduce using Ktor 1.6.1.

[2021-07-26 14:00] #1696 closed

[2021-07-26 17:02] fabiel-casas opened #2566 "parameters in the builder is not configurable"
The parameter variable of the builder is not configurable, does this intended?
https://github.com/ktorio/ktor/blob/b519016210d5ced5f63b6da9a3489e3a799903b1/ktor-http/common/src/io/ktor/http/URLBuilder.kt#L32

[2021-07-26 17:56] Stexxe commented on #2566
That's intended. You are supposed to mutate (append, set, remove) parameters but not change a reference.
So, for example, if you want a URL with fresh new parameters then you can remove all of them at once  and append new ones:
[code]

[2021-07-26 17:56] #2566 closed

[2021-07-27 10:13] Stexxe commented on #1698
Cannot reproduce it using Ktor 1.6.1 and multiplatform plugin 1.5.20 with a following line:
[code]
replaced with:

[code]

Working as expected sample project is attached in [KTOR-451](https://youtrack.jetbrains.com/issue/KTOR-451).

[2021-07-27 10:13] #1698 closed

[2021-07-27 10:26] Stexxe commented on #1745
Cannot reproduce it with Ktor 1.6.1.

[2021-07-27 10:26] #1745 closed

[2021-07-27 11:17] Stexxe commented on #1801
@ronjunevaldoz could you please describe the steps to reproduce this problem using your code example?

[2021-07-27 11:29] Stexxe commented on #1813
Cannot reproduce it using Ktor 1.6.1.

[2021-07-27 11:29] #1813 closed

[2021-07-27 11:45] Stexxe commented on #1844
Because of https://github.com/ktorio/ktor/pull/1943 you can now just append a `Connection` header with any value you like:
[code]

[2021-07-27 11:45] #1844 closed

[2021-07-27 18:47] ionutale commented on #1285
has this feature been implemented?

[2021-07-28 11:41] Stexxe commented on #1873
@geowatson do you still facing this issue using Ktor 1.6.1?

[2021-07-28 11:43] geowatson commented on #1873
@Stexxe hi, let me check once again, will respond ASAP.

[2021-07-28 11:49] Stexxe commented on #1872
If this issue is still relevant, please share a sample code snippet to reproduce it.

[2021-07-29 10:43] Stexxe commented on #895
Fixed by [KTOR-2683](https://youtrack.jetbrains.com/issue/KTOR-2683).

[2021-07-29 10:43] #895 closed

[2021-07-29 10:46] Stexxe commented on #935
Do you still face this problem using Ktor 1.6.1?

[2021-07-29 11:01] Stexxe commented on #1634
I cannot reproduce it using Ktor 1.6.1 with the following code:
[code]

[2021-07-29 11:01] #1634 closed

[2021-07-29 16:00] Stexxe commented on #1309
Cannot reproduce using Ktor 1.6.1 and CIO engine under Windows 10.

[2021-07-29 16:00] #1309 closed

[2021-07-30 10:07] #2398 closed

[2021-07-30 11:53] dragossusi commented on #1215
Any news about this?

[2021-08-03 20:16] mikeholler commented on #1540
I also seem to be having this issue.

Kotlin: 1.5.21
Ktor: 1.6.1
Runtime: JavaScript

[2021-08-08 21:24] BreimerR commented on #358
with(engine){
   ... request test
}

[code]

[2021-08-10 17:56] gigitalz commented on #1309
This is still happening in 1.6.2.
To reproduce it's not too difficult, you have to generate a lot of requests concurrently and then it'll happen quite often, althogh not always, even if the http requests are not generated in the same process.
There could be a completely different application making loads of http requests and you would get this error sporadically also on other apps using CIO.

To g

[2021-08-10 18:01] gigitalz commented on #1309
I don't think the error you get from Apache is related, I also use Apache for 500+ concurrent req/s, never a single issue.

[2021-08-17 13:45] WIPShriharsh commented on #321
Hello team,
I am working on a project where Ktor is implemented already. Now, we are trying to move to modular approach with Java11.
I am getting following error while building the project

[code]

Since, I have been studying Jigsaw implementation for long now and have faced this issue in my projects as well, I can tell u few things.

I believe ktor is not build to support java modules. That is wh

[2021-08-17 13:47] WIPShriharsh commented on #1137
Hello team,
I am working on a project where Ktor is implemented already. Now, we are trying to move to modular approach with Java11.
I am getting following error while building the project

[code]

Since, I have been studying Jigsaw implementation for long now and have faced this issue in my projects as well, I can tell u few things.

I believe ktor is not build to support java modules. That is wh

[2021-08-17 14:17] david-gang commented on #1137
hi @WIPShriharsh i am akso waiting for this issue, the main activity of ktor issues moved to youtrack. you an add the info there https://youtrack.jetbrains.com/issue/KTOR-619

[2021-09-01 15:54] precisemath opened #2590 "Ktor works fine in Intellij but not on command line"
version=1.6.3
Java version=Open JDK 1.8
build tool = gradle

I setup the latest version of Ktor using the plugin in Intellij. It works fine when I run it and debug it in Intellij.
We then built a fat jar and ran it on the command line like this:

`java -jar run.jar`

It even prints this statement on the command line:

`Responding at http://0.0.0.0:8080`

But the server is not accessible via curl o

[2021-09-05 19:58] jonpeterson commented on #1713
FWIW, I was able to work around this by defining my own SessionTracker.

[code]

Unfortunately the builder functions on the Sessions feature don't allow for specifying your own SessionTracker, so you have to do something like this:

[code]

[2021-09-06 18:20] amirhossein320 opened #2596 "Project 'tomcat-war' not found in root project"
Hi,  I receive below error  when  run app grrety tomcat war (**./gradlew :tomcat-war:run**)

[code]

**application.kt**

[code]

**web.app**
[code]

**application.conf**
[code]

**build.gardle.kts**
[code]

[2021-09-06 18:40] Stexxe commented on #2596
@amirhossein320 If you took code from https://github.com/ktorio/ktor-documentation/tree/main/codeSnippets/snippets/tomcat-war then you should have a Gradle subproject named `tomcat-war` to run it this way, otherwise just run it via `./gradlew run`.

[2021-09-06 18:42] #2596 closed

[2021-09-06 18:45] amirhossein320 commented on #2596
I watched it. but i`m begginer and i don`t know how create gardle subproject.
please help me to solve it

[2021-09-06 18:49] Stexxe commented on #2596
I suggest reading https://docs.gradle.org/current/userguide/multi_project_builds.html but you don't need to have a subproject in this case so just run it via `./gradlew run`.

[2021-09-06 19:08] amirhossein320 commented on #2596
thank you i solve the problem of subproject but now i receive the error about not found task run.
in your sample project use groovy gradle but i use gardle and cant convert run task to it

[2021-09-07 21:07] brianguertin commented on #1517
SSE is pretty straightforward, you can adapt this java parser here for use in your project: https://github.com/aslakhellesoy/eventsource-java/blob/master/src/main/java/com/github/eventsource/client/impl/EventStreamParser.java

[2021-09-08 08:27] Stexxe commented on #2596
If you use the `org.gretty` Gradle plugin then you can run your application via `./gradlew tomcatStart`.

[2021-09-09 14:28] brianguertin commented on #1517
So, as SSE is a very simply protocol, I tried to implement this, but it turns out it's impossible to implement, because most (if not all) of the Ktor client engines buffer the responses. This is fine for streaming file downloads, etc., but to implement SSE it has to be possible to stream the response byte-for-byte, one-by-one.

Ktor itself has an API to read a single byte, so it's possible to writ

[2021-09-10 12:32] JReverse commented on #2378
Same issue here 👍

[2021-09-13 11:53] Stexxe commented on #1517
@brianguertin I am curious, why can't it work with buffering?

[2021-09-13 12:35] altavir commented on #1517
The actual discussion is in youtrack: https://youtrack.jetbrains.com/issue/KTOR-505

[2021-09-23 15:45] basilh-kr commented on #888
A similar option is to use `pickFirst` instead of `exclude`

Add this to the app's build.gradle file, inside of the Android {} block:
[code]

See this [StackOverflow link](https://stackoverflow.com/a/54089653/12692513) for additional details

[2021-09-23 15:48] heiligbasil commented on #888
A similar option is to use `pickFirst` instead of `exclude`

Add this to the app's build.gradle file, inside of the Android {} block:
[code]
See this [StackOverflow link](https://stackoverflow.com/a/54089653/12692513) for additional details

[2021-09-29 01:25] zhaolongqing commented on #813
I have the same exception in version 1.6.2.
![image](https://user-images.githubusercontent.com/29787804/135187264-5fa3afd8-97f5-4a1e-a768-178e9e0b9994.png)
![image](https://user-images.githubusercontent.com/29787804/135187320-0d7d58b8-90c4-4820-b4f7-db9c1dadf624.png)

[2021-09-29 01:49] zhaolongqing opened #2621 "I have the same exception in version 1.6.2."
I have the same exception in version 1.6.2.
![image](https://user-images.githubusercontent.com/29787804/135187264-5fa3afd8-97f5-4a1e-a768-178e9e0b9994.png)
![image](https://user-images.githubusercontent.com/29787804/135187320-0d7d58b8-90c4-4820-b4f7-db9c1dadf624.png)

_Originally posted by @zhaolongqing in https://github.com/ktorio/ktor/issues/813#issuecomment-929746276_

[2021-09-29 01:55] zhaolongqing commented on #2621
Probably, I mybe know why I try catch the exception。Because when I call  same methods "socket.send" in the same time, it report error, when I call one method "socket.send" and until the method complete,I didn't see the error. Is that rigtht?
if rigtht ,can you create a safe thead medthod to wrap "writeStringUtf8 ".

[2021-09-29 08:10] e5l commented on #2621
Hey @zhaolongqing, the issues on GitHub are closed cause they are hard to manage and plan. Please consider reopen this issue on YT: https://github.com/ktorio/ktor/issues/new/choose

[2021-09-29 08:10] #2621 closed

[2021-09-29 08:10] e5l commented on #2590
Hey @precisemath, the issues on GitHub are closed cause they are hard to manage and plan. Please consider reopening this issue on YT: https://github.com/ktorio/ktor/issues/new/choose

[2021-09-29 08:10] #2590 closed

[2021-09-29 08:11] e5l commented on #2378
Hey @kobe2000, the issues on GitHub are closed cause they are hard to manage and plan. Please consider reopening this issue on YT: https://github.com/ktorio/ktor/issues/new/choose

[2021-09-29 08:11] #2378 closed

[2021-10-05 16:40] ademarizu commented on #257
Any news on this one? I'm facing the same problem.
Ktor: 1.5.4
Kotlin: 1.4.10

[2021-10-12 10:10] e5l commented on #294
`ValuesMap` was renamed to `Parameters` and has a different use case. If you want to receive JSON as a collection, you can use JsonObject class from GSON for that.

[2021-11-08 19:58] AndrewWestberg commented on #1989
Is there any information on using the fix in 1.6.5? Do we set subdomains to "*", or maybe just put the wildcard in the hosts value "*.domain.com"?

[2021-11-20 01:09] tommyzat commented on #1137
I'm waiting for this as well. It's been so long, I really need ktor to support module support.

[2021-11-23 08:13] #1970 closed

[2021-11-24 20:21] ydanneg commented on #1767
is it possible to get a client certificate using other engines, like Netty?

[2021-11-29 08:28] misakamaiyako commented on #925
by default, ktro server accept  post request with `Content-Type: application/json;charset=UTF-8` header,  but form submit's header is `application/x-www-form-urlencoded` and server won't receive it.
you can use axios instead of form submit to upload your data.

[2021-11-29 08:56] kldMohammed commented on #925
Its older version of ktor so , i should close this

[2021-11-29 08:56] #925 closed

[2021-12-02 13:53] AlexShniperson-INO commented on #1766
error i still here

kotlin version: 1.6.0
ktor version: 1.6.4

try to upload image and got that
[code]

the request with omitted binary data
[code]

[2021-12-03 08:21] Stexxe commented on #1766
@AlexShniperson-INO I cannot reproduce it by sending an image to a server. Could you please share your code for a server?

[2021-12-03 08:25] AlexShniperson-INO commented on #1766
In the course of researching the problem, I saw that if the boundary body does not contain the name of the `filename`, then this error occurs.
after adding unique filename to boundary body the problem went away

[2021-12-03 14:28] xht418 commented on #2013
I got the similar problem today: https://stackoverflow.com/q/70207677/3466808, any one can help?

[2021-12-05 00:21] AndresAusecha commented on #1618
Hey I would like to try with this one

[2021-12-05 00:24] AndresAusecha commented on #788
Is this ticket available to do?

[2021-12-09 18:05] shalva97 commented on #173
The issue mentions Gson, but will post here since the error is same for me on kotlin serialization.

so what was the solution to this? I have followed [codumentation ](https://ktor.io/docs/creating-http-apis.html#automated-testing) and they also do not pass any extra header, but it just works in their example.

In my new project I can not get it to work. I have tried adding header, but still same

[2021-12-10 06:46] Stexxe commented on #173
@shalva97 could you please [file a new issue](https://youtrack.jetbrains.com/newIssue?project=KTOR) with a code snippet for reproducing attached?

[2021-12-10 13:52] rajda commented on #358
You can also create function:
`fun <R> withServer(test: TestApplicationEngine.() -> R) {
    withApplication(createTestEnvironment {
        config = HoconApplicationConfig(ConfigFactory.load("application-test.conf"))
    }, test = test)
}`

and use it:
`    @Test
    fun testSomething() = withServer {
        handleRequest(HttpMethod.Get, uri) {
            addHeader("accept", "application/json")

[2021-12-10 17:19] shalva97 commented on #173
my bad, I had added `install(ContentNegotiation) { json() }` to the embededServer. it was not being used by tests because I was only  testing the route directly, so in s hort I was bypassing the negotiation....

all good now,  thanks for response

[2021-12-12 01:42] FunkyMuse commented on #1819
Is there any update on this matter?

As @ilya40umov said, it would be great to have that kind of configurable way.

[2021-12-16 23:23] kostrse commented on #792
[Transformers](https://ktor.io/docs/transformers.html#standard-transformers) documentation still doesn't mention that SessionTransportTransformerDigest has been deprecated and it's the first choice there.

[2021-12-24 10:29] ArchangelX360 commented on #1159
@joffrey-bion will it make sense to "merge" in some ways https://github.com/joffrey-bion/krossbow to `ktor-client-websocket`?

[2021-12-24 11:01] joffrey-bion commented on #1159
@ArchangelX360 Krossbow's STOMP client already supports Ktor as a possible web socket engine with `krossbow-websocket-ktor`, as mentioned in the YT issue.

It could be a possibility to merge the STOMP support with Ktor, but Krossbow supports more platforms at the moment (e.g. iOS), and other websocket implementations as well, such as Spring and SockJS. I'd be happy to contribute, though!

[2021-12-27 13:34] e5l commented on #1566
Closed. `withTestApplication` is deprecated in 2.0.0

[2021-12-27 13:34] #1566 closed

[2021-12-27 13:35] e5l commented on #1776
Consider using `testApplication` API comming in 2.0.0

[2021-12-27 13:35] #1776 closed

[2021-12-27 13:36] e5l commented on #1413
Supported with `testApplication` API in 2.0.0.

[2021-12-27 13:36] #1413 closed

[2021-12-27 13:37] e5l commented on #193
Obsolete with new testing API in 2.0.0

[2021-12-27 13:37] #193 closed

[2021-12-31 19:20] #2006 closed

[2021-12-31 20:47] #1962 closed

[2021-12-31 20:48] #1941 closed

[2021-12-31 20:49] #1933 closed

[2022-01-04 06:35] sfe-efficy commented on #2007
It would be nice if we can load the jks file from resources folder.

[2022-01-11 15:51] e5l commented on #1414
Fixed in `2.0.0`

[2022-01-11 15:51] #1414 closed

[2022-01-13 23:51] minxylynx commented on #1127
bump on this. I'm facing the same issue, where the get requires the content-type be specified

[2022-01-19 10:28] dragossusi commented on #1803
@dmitrievanthony I tried using CIO, but it doesn't work well with android when using HTTPS, it always shows an error about certificate, okhttp works well.

[2022-02-03 08:02] adamwaite commented on #1127
Also blocked by this. Isn't this a normal thing to do? Why isn't it allowed...

[2022-02-05 15:49] bigoloo commented on #1967
Assume this scenario,
if the refresh token is failed I want to get the exception in my other interceptors
what should I do for that purpose

[2022-02-07 04:05] Stexxe commented on #1967
@bigoloo what do you mean by refresh token is failed?

[2022-02-07 04:13] spauldhaliwal commented on #1967
Presumably they mean the refresh token was not able to create a new access token, so the user's session has expired. In this scenario, he would like to receive this exception in order to re-authenticate the user from scratch.

A lot of flows work like this:

1) Authenticate with username and password to receive access token and refresh token.

2) Request data with access token

3) If at any point

[2022-02-07 10:07] e5l commented on #1967
@rsinukov could you take a look?

[2022-02-07 10:29] e5l commented on #1137
Fixed with `2.0.0`

[2022-02-07 10:29] #1137 closed

[2022-02-07 10:30] e5l commented on #909
Fixed in `2.0.0`

[2022-02-07 10:30] #909 closed

[2022-02-07 10:31] e5l commented on #1814
Fixed in `1.6.1`

[2022-02-07 10:31] #1814 closed

[2022-02-07 13:53] rsinukov commented on #1967
@spauldhaliwal Isn't how it works now? In case if refresh failed, you will receive 401 response and can handle it by showing login screen, etc.

[2022-02-07 13:58] spauldhaliwal commented on #1967
I haven't tried it actually. I ended up implementing my own solution a while back, so I was just clarifying what I thought the above comment was trying to describe

(though perhaps I shouldn't have said anything since as I said I haven't actually tried this implementation haha. Sorry!)

[2022-02-07 14:51] rsinukov commented on #1967
@spauldhaliwal
No worries, thanks for the clarification!

[2022-02-08 13:43] #1995 closed

[2022-02-08 13:45] Stexxe commented on #1987
Cannot reproduce this problem using Ktor 1.6.1

[2022-02-08 13:45] #1987 closed

[2022-02-08 13:46] Stexxe commented on #1979
Can't reproduce.

[2022-02-08 13:46] #1979 closed

[2022-02-08 13:51] #1874 closed

[2022-02-08 13:52] Stexxe commented on #1873
Can't reproduce.

[2022-02-08 13:52] #1873 closed

[2022-02-08 13:52] Stexxe commented on #1872
Can't reproduce.

[2022-02-08 13:52] #1872 closed

[2022-02-08 13:53] #1867 closed

[2022-02-08 13:54] #1865 closed

[2022-02-08 13:55] #1863 closed

[2022-02-08 13:57] Stexxe commented on #1858
Can't reproduce.

[2022-02-08 13:57] #1858 closed

[2022-02-08 13:58] Stexxe commented on #1848
Can't reproduce.

[2022-02-08 13:58] #1848 closed

[2022-02-08 13:59] Stexxe commented on #1840
Can't reproduce.

[2022-02-08 13:59] #1840 closed

[2022-02-08 14:01] #1833 closed

[2022-02-08 14:02] #1830 closed

[2022-02-08 14:02] #1825 closed

[2022-02-08 14:03] #1802 closed

[2022-02-08 14:04] Stexxe commented on #1772
Can't reproduce.

[2022-02-08 14:04] #1772 closed

[2022-02-08 14:05] #1768 closed

[2022-02-08 14:05] Stexxe commented on #1763
Can't reproduce.

[2022-02-08 14:06] Stexxe commented on #1753
Can't reproduce.

[2022-02-08 14:07] #1744 closed

[2022-02-08 14:07] #1736 closed

[2022-02-08 14:08] Stexxe commented on #1735
Can't reproduce.

[2022-02-08 14:08] #1735 closed

[2022-02-08 14:08] #1726 closed

[2022-02-08 14:09] #1722 closed

[2022-02-08 14:09] #1711 closed

[2022-02-10 12:47] PatrykKleczkowski commented on #1432
Hello,
What is the status of this issue? Is it related with changes in https://github.com/ktorio/ktor/commit/a9e4f12bdf071c28ca8c7b7648103be8b6817081 ?

When it will be released and ready to use?

Regards

[2022-02-13 09:11] zezutom commented on #660
Hi, I'm a bit late into the party, but I was able to successfully log the full response including the response body in the `After` phase, e.g.

[code]

[2022-02-13 20:22] MEJIOMAH17 commented on #909
@e5l how to use it?

[2022-02-14 08:09] andreyaksenov commented on #909
@MEJIOMAH17 For a server running using `embeddedServer`, you can get a  port using the [ApplicationEngine.resolvedConnectors](https://ktor.io/docs/eap/configurations.html#embedded-basic) function.

[2022-02-14 08:24] Stexxe commented on #909
Before 2.0.0:
[code]
In 2.0.0:
[code]

[2022-02-14 10:13] kairos34 commented on #379
Hello,
Could you share latest proguard rules for Android please?

[2022-02-23 10:30] CluEleSsUK commented on #1854
@XuaTheGrate could you give any more info on your problem/solution?
I'm experiencing the same issue in a very simple WS setup with CIO

[2022-02-27 23:05] cyb3rko commented on #1587
Any updates or do you all still use the OkHttp engine as a workaround?

[2022-02-28 20:42] codesplode opened #2875 "DefaultRequest Plugin - InvalidMutabilityException When Changing Anything Except Protocol - 2.0.0-beta-1 on iOS"
I have been following the updates to remove InvalidMutabilityExceptions on iOS and have upgrade my app to 2.0.0-beta-1 because of the beneficial changes to the API and stability for our testing.

When using the DefaultRequest plugin with any one of the commented out lines active, an InvalidMutabilityException similar to all the past issues occurs. I am including the entire client configuration for

[2022-03-01 07:50] Stexxe commented on #2875
This error is absent with a new memory model enabled (`kotlin.native.binary.memoryModel=experimental` in Gradle) and with Ktor EAP version, like `2.0.0-eap-329`, that is released after the beta. To download Ktor artifacts you have to include the following repositories:
[code]

[2022-03-01 07:50] #2875 closed

[2022-03-04 12:25] Whathecode commented on #1879
@e5l This issue is not resolved, and should not be closed. The main feature request here was:

We have a similar issue with `call.receive`.  No serializer can be retrieved through the type, since the type being deserialized is a star-projected type. We use a custom serializer which can perfectly deal with that. But, ktor prevents us from passing said custom serializer.

[Registration as `contextua

[2022-03-04 16:55] EhsanMsz commented on #882
I'm currently working on this.
to override `contentType`, it must be removed from `UnsafeHeadersArray` in `HttpHeaders.kt`.
Is it ok to remove this from `UnsafeHeadersArray`?

[2022-03-06 18:16] Benjoyo commented on #1695
Any updates? Still present in 1.6.7.

[2022-03-08 02:01] wfhartford commented on #122
This issue could be reevaluated; it looks like the `kotlinx.html` functions are now `inline`, this should make a solution to this issue much more practical.

[2022-03-11 02:21] lucasleon2107 commented on #1038
Hi everyone, I'm having this issue but when validating 200 responses with an error code

[2022-03-11 14:47] yukai18 commented on #1038
Same here, I'm getting already receive exception when using `it.receive()`.
I tried `json.parseToJsonElement(String(it.readBytes()))` as well but I'm getting below error

i tried printing `String(it.readBytes())` out, it contains a valid JSON through an online validator. not sure what went wrong >_<

I'm using version 1.6.7

[2022-03-13 02:17] Nailik commented on #571
According to release notes it is in 2.0.0-beta-1.
I tried to test it on Android with CIO server and there is just no response from server when i try to call it.
Same issue with Netty on 2.0.0-beta-1 but Netty 1.6.7 works.

[2022-03-14 01:54] saket commented on #571
@Nailik I think this issue has been fixed https://youtrack.jetbrains.com/issue/KTOR-3653

[2022-03-18 10:58] dodalovic commented on #1819
Yes, still experiencing it

[2022-03-19 02:33] shaunek commented on #1413
@e5l This issue seems to be about websocket client testing, and you closed this issue out mentioning it is supported with the `withTestApplication` function... I could be missing something but `withTestApplication` seems to be pretty focused on the ktor server testing as it requires an Application.method to be provided. I looked and couldn't find any *client-only focused* mock engines that support

[2022-03-25 12:45] sud007 commented on #1127
Oh dear, I am blocked on my PUT request on KMM Android Project! Any resolution guys?

[2022-03-25 15:57] kambojumang opened #2923 "Ktor server :: not working when application in background Android API 21 (5.0+)"
I have followed this link  **Example Netty-based Ktor server for Android 5+**

https://github.com/gnarea/minimal-ktor-server-android

Finding a way the **application can work even in the background for Android 5+ Api level 21**

Please help me **I have already created an entire project just stuck on API level 21.**

Code snipped::

class MainActivity : AppCompatActivity() {
    private val corouti

[2022-03-25 16:17] kambojumang commented on #495
Hello @gnarea
After following you amazing solution for Android API 21, I have used Ktor in my application. Ktor is wonderful
 At the end stage I realized that Ktor Server on Android API 21, routing {} will not work in background.

Is there any amazing fix to it :: If I can run Ktor in server on any background thread, so it will be available even when app is in background.  I have already try start

[2022-03-25 22:33] typfel commented on #1127
I've solved this problem by registering my custom content types using the ContentNegotiation plugin in fairly simple way at least for binary content. I think the ktor documentation should contain an example like this since this a fairly common use case.

example: https://github.com/wireapp/kalium/pull/324

[2022-04-01 15:24] haertale commented on #1423
Did you eventually manage to run as a non-root user?
Another question regarding your final `Dockerfile` you shared: any specific reason you choose `adoptopenjdk:14-jre-hotspot` as parent image?

[2022-04-02 09:27] neelkamath commented on #1423
Nope.

Docker images such as `openjdk` don't provide many variants but `adoptopenjdk` provides a lot of options like the exact version and VM.

[2022-04-06 06:23] Kashif-E commented on #368
I am having the same issue with using locations, routing, and koin. The IDE always prioritizes the koin get() methos

[2022-04-07 10:37] e5l commented on #858
https://youtrack.jetbrains.com/issue/KT-51891

[2022-04-07 10:37] #858 closed

[2022-04-08 06:33] e5l commented on #2923
Hey @kambojumang, thanks for the report. Github issues are closed in Ktor, please consider reopening the issue on YT

[2022-04-08 06:33] #2923 closed

[2022-04-10 12:30] mbunderline76 commented on #1054
there is no sample that downloads file with ktor client !

[2022-04-11 18:52] dodalovic commented on #1788
@e5l Currently, there's no DI working with current Ktor.

[2022-04-18 00:20] DRSchlaubi commented on #1215
Support has been added here https://github.com/ktorio/ktor/commit/e7c8c037bcacff14b3199e781231789f3a1cc6d3 however native still misses TLS support for wss ([KTOR-1161](https://youtrack.jetbrains.com/issue/KTOR-1181))

[2022-04-19 06:13] e5l commented on #1215
Fixed in 2.0.0. TLS support will be added soon

[2022-04-19 06:13] #1215 closed

[2022-04-19 06:20] e5l commented on #1788
@dodalovic,[Koin](https://insert-koin.io/docs/reference/koin-ktor/ktor) and [Kodein](https://github.com/Kodein-Framework/Kodein-DI) have Ktor support

[2022-04-19 06:21] dodalovic commented on #1788
Hi, i was trying to make it work with ktor 2.0, without success

[2022-04-19 06:38] e5l commented on #1788
Could you log an issue there? I think they add 2.0.0 support in a while.

[2022-04-19 07:54] dodalovic commented on #1788
https://github.com/InsertKoinIO/koin/issues/1295

There seems to be some hacking around it

[2022-04-19 22:08] theromis commented on #1215
@e5l Is it true? Native websocket support will be added soon?

[2022-04-19 22:09] DRSchlaubi commented on #1215
ws support is there, TLS support (required for wss) will be added soon

[2022-04-19 22:09] theromis commented on #1215
@DRSchlaubi yay, thank you, can't wait to finally switch on iOS

[2022-04-20 19:17] Marek00Malik commented on #453
What is the status of this feature?
The best project `kompendium` that gave OAS support to Ktor is not supporting Ktor 2.0.0 because of this issue...
[kompendium](https://github.com/bkbnio/kompendium/issues/96)

[2022-04-22 09:09] Harin-Kaklotar commented on #925
Actually, this happens when we forgot to install ContentNegotiation with JSON.
Don't forget to add a dependency and plugin for serialization and request with the header "Content-Type": "application/json"

[2022-04-26 12:38] e5l commented on #1234
Can't reproduce with Ktor 2.0.0

[2022-04-26 12:38] #1234 closed

[2022-04-27 06:09] e5l commented on #1819
Fixed in `2.0.0`

[2022-04-27 06:09] #1819 closed

[2022-04-27 07:43] e5l commented on #1623
`POST` redirect is prohibited to be handled automatically according to the spec.

[2022-04-27 07:43] #1623 closed

[2022-04-27 08:01] e5l commented on #1743
Can't reproduce with 2.0.0

[2022-05-01 14:16] mervyn-mccreight commented on #1618
Is this really still open?
Looking at `ktor-client/ktor-client-plugins/ktor-client-logging/common/src/io/ktor/client/plugins/logging/Logging.kt` it looks like this is there already:

[code]

[2022-05-02 05:59] e5l commented on #1002
Hi, since 2.0.0 it's possible to install different `ContentNegotiation` plugins for separate routes

[2022-05-02 05:59] #1002 closed

[2022-05-04 06:18] prettydev commented on #1708
How to set retryOnConnectionFailure when I use HttpClient(Android)?
And what engine is recommended in Android between OkHttp vs Android?

[2022-05-04 06:19] prettydev commented on #1708
How to set retryOnConnectionFailure when I use HttpClient(Android)?
And what engine is recommended in Android between OkHttp vs Android?

[2022-05-04 06:33] e5l commented on #1708
Hi @prettydev, you can read more here: https://ktor.io/docs/client-retry.html

[2022-05-05 09:02] gnarea commented on #495
@kambojumang, we're running a ktor server in the background in https://github.com/relaycorp/relaynet-gateway-android, in case you want a real-world example. Here's the ktor server implementation: https://github.com/relaycorp/relaynet-gateway-android/tree/3680176902629b045a7231a2207d0585a20a8998/app/src/main/java/tech/relaycorp/gateway/pdc/local

[2022-05-17 10:33] SilenLoc opened #3002 "Old version of jwt"
It would be good to update this version of jwt for two reasons: it forces you to use this version or 3.0.14 (one higher) or your token serialization can break. And it has not all the new security updates they added. This is a one year old version.

https://github.com/ktorio/ktor/blob/9ca85c50e297a2c0a124f11f1c1a453909417ecf/gradle/libs.versions.toml#L38

[2022-05-18 02:16] jacklai24 commented on #379
Hello,
Could you share latest proguard rules for Android please? Thank you.

[2022-05-18 09:55] e5l commented on #1261
Fixed in `2.0.1`

[2022-05-18 09:55] #1261 closed

[2022-05-20 05:57] e5l commented on #3002
We will accept the PR, the Ktor GitHub tracker is closed for accepting issues: was hard to manage them here. Please consider logging a new issue in YT(using the button `New issue`)

[2022-05-20 05:57] #3002 closed

[2022-05-27 22:51] MinmoTech commented on #1894
Sorry for making this kind of comment, but is there an update on this? :)

[2022-05-28 04:48] Stexxe commented on #1894
This feature ([KTOR-4093](https://youtrack.jetbrains.com/issue/KTOR-4093/Support-WebSockets-in-Darwin-engine)) is already implemented.

[2022-05-28 04:48] #1894 closed

[2022-05-30 13:58] gustavovnicius opened #3033 "Jetty Engine - Overwriting custom handlers"
https://github.com/ktorio/ktor/blob/b8011d2072c8f99c48fdcf9c34d19ccafeea41b6/ktor-server/ktor-server-jetty/jvm/src/io/ktor/server/jetty/JettyApplicationEngine.kt#L23

With `server.handler = `, any custom or global handler that's setup previously on the `configureServer` block, gets overwritten.
A better way to add KTor's handler would be with:
[code]

Which would add the handler at the end of the

[2022-06-02 19:19] bootstraponline opened #3040 "Could not find io.ktor:ktor-gson:2.0.2"
I'm updating ktor in [this pull request](https://github.com/Flank/flank/pull/2257)

[code]

I'm seeing the following build failure:
[code]

Do you know what's wrong? I've been able to update to previous ktor versions without any problems.

[2022-06-02 19:27] JakeWharton commented on #3040
Did you follow the migration guide? This artifact is covered in this section: https://ktor.io/docs/migrating-2.html#serialization

[2022-06-02 23:06] #3040 closed

[2022-06-03 09:29] #3033 closed

[2022-06-20 12:13] #1032 closed

[2022-06-20 12:14] #1291 closed

[2022-06-23 19:30] adoubleu commented on #1219
Does not seem to work for ktor 2.0.2. Any idea?

[2022-06-24 09:58] renovate[bot] opened #3072 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency io.mockk:mockk to v1.13.4
 - [ ] Update dependency io.swagger.parser.v3:swagger-parser to v2

[2022-06-27 18:22] theromis commented on #1215
@DRSchlaubi may I ask where I can check status of TLS support addition?

[2022-06-28 16:12] theromis commented on #1894
@Stexxe do you know `wss` destiny? is it implemented too?
Is this PR related to it's implementation if it still not implemented? https://github.com/ktorio/ktor/pull/2939

[2022-07-16 04:45] techygrrrl commented on #1803
I was experiencing the `java.io.EOFException` error too and suspected it could be related to pinging while collecting a flow for an extended period of time. Switching to the CIO engine from the OkHttp engine fixed the issue, thanks!

[2022-07-22 06:11] Kosert commented on #1127
On YouTrack this is marked as fixed, but I was still unable to set Content-Type header to GET request using ktor 2.0.3.
Eventually I came up with this relatively simple workaround:

[code]
And then in request builder:
[code]

[2022-07-26 11:24] digitalheir commented on #558
I actually get this problem still every now & then in Ktor 2.0.3. Don't know how to repro. Perhaps it occurs due to an error in my own app logic, but I can't know because it is not propagated.

[code]

[2022-08-01 11:09] micheljung commented on #753
@cy6erGn0m I'm facing this with Koin 3.2.0 and Kto 2.0.2. I tried:
[code]

But neither is there any debug output, nor does it work. I still get ERR_EMPTY_RESPONSE. Any idea?

[2022-08-17 08:50] e5l commented on #1958
Can't reproduce with 2.1.0

[2022-08-17 08:50] #1958 closed

[2022-08-17 11:38] pklimai commented on #1432
Any update on this, please?

[2022-08-23 15:35] periva101 commented on #1149
@LiewJunTung can you provide readFile android

[2022-08-27 23:08] chetankokil commented on #1903
can i work on this @edenman , @victorcwai ?

[2022-08-28 00:12] chetankokil commented on #1903
@e5l team, please review the PR when you get a chance.

[2022-08-31 11:18] vitalyzhakov commented on #558
Hello!
Reproducing in ktor 2.1.0

{code}
2022-08-31 10:55:55.937 [eventLoopGroupProxy-4-4] DEBUG Application - 200 OK: GET - /. Exception class io.ktor.util.cio.ChannelWriteException: Cannot write to a channel]
io.ktor.util.cio.ChannelWriteException: Cannot write to a channel
        at io.ktor.server.netty.cio.NettyHttpResponsePipeline.respondWithFailure(NettyHttpResponsePipeline.kt:108)

[2022-08-31 12:53] #2020 closed

[2022-09-03 06:29] thegeniusprogrammer commented on #925
Add Header "Content-Type": "application/json" while sending request in postman,
and don't forget to add ContentNegotiation plugin in your ktor project.

[2022-09-06 08:47] Fbada006 commented on #1802
Hey @dodalovic . I experienced this today and I fixed it by replacing the `Parameters` with a simple `HashMap` and it works fine for my pet project.

[2022-09-19 15:22] eGorets opened #3164 "Can't pass SSL handshake on KMM project"
I try to set up my dev env under VPN and self-signed SSL, but keep getting the same error

ktorVersion = "2.1.1"

[code]

I double checked all certs, made custom TrustManager, tried diff clients (Android, CIO, OkHttp) and always the same issue, but it works on my base project and it works on ios set-up, i can reach my server

[code]

[2022-09-20 11:39] #3164 closed

[2022-09-29 10:32] alessioemireni commented on #379
+1

[2022-10-24 02:06] Ohior commented on #482
I received this error and I fixed it by not running multipart inside a coroutineScope ; withContext.
I don't know why this is but it worked.

[2022-10-24 18:41] abueide opened #3217 "CIO Request Timed Out on large files"
I have this function and with CIO engine it times out for ~300 MB+ files. When switching to Java engine for ktor client it works perfectly.

[code]

[2022-10-25 08:49] Stexxe commented on #3217
Thank you for the report. I've created [the issue](https://youtrack.jetbrains.com/issue/KTOR-5056) in YouTrack.
Could you please tell me how did you create this issue on GitHub? :)

[2022-10-25 08:49] #3217 closed

[2022-10-25 10:09] whyoleg commented on #3217
@Stexxe you can go directly by link and create it: https://github.com/ktorio/ktor/issues/new
As far as I know there is no possibility to disable this URL :)
more info: https://github.com/dear-github/dear-github/issues/293#issuecomment-1235059675

[2022-10-29 21:02] abueide commented on #3217
@Stexxe i just went to the ktor repository and clicked new issue as normal, will use youtrack in the future

[2022-10-29 21:05] abueide commented on #3217
actually interesting when I create a new issue now I get redirected to open a new issue on youtrack. I'm not sure how I originally created this issue. I definitely did not manually paste in a link.

[2022-11-02 01:32] J-Swift commented on #1903
This also got me. Its extremely unexpected to have a relative url get parsed as `localhost` relative.

[2022-11-07 05:41] gulluchaubey commented on #2020
@ArcticLampyrid can you please give a example for the CONNECTING, CONNECTED, DISCONNECTING AND DISCONNECTED from websocket.

[2022-11-07 10:41] digitalheir commented on #558
Still happening all the time. Seems to occur more after upgrading to 2.1.3.

[2022-11-14 08:47] #671 closed

[2022-11-19 05:57] theromis commented on #1894
@Stexxe any progress on TLS for websocket?

[2022-11-19 07:10] ln-12 commented on #1894
@theromis Why don't you just try it out? There already is a `wss` builder (see [here](https://github.com/ktorio/ktor/blob/113e27150a9d7e250b5794299bb2fa81fd9b0083/ktor-client/ktor-client-core/common/src/io/ktor/client/plugins/websocket/builders.kt#L200)) and I am using it for quite some time now in my Android and iOS app.

[2022-11-20 00:40] theromis commented on #1894
@ln-12 Thank you, will try

[2022-11-24 08:02] #1866 closed

[2022-11-28 08:09] #222 closed

[2022-11-28 08:15] #2009 closed

[2022-11-28 08:15] #1968 closed

[2022-11-28 08:16] #1887 closed

[2022-11-28 12:32] Stexxe commented on #1595
Please follow https://youtrack.jetbrains.com/issue/KTOR-5232/

[2022-11-28 12:32] #453 closed

[2022-11-28 12:33] #517 closed

[2022-11-28 12:33] #1191 closed

[2022-11-28 12:33] #1628 closed

[2022-11-28 12:34] #537 closed

[2022-11-28 12:36] #350 closed

[2022-11-28 12:36] #1305 closed

[2022-11-28 12:37] #1754 closed

[2022-11-28 12:38] #588 closed

[2022-11-28 12:38] #967 closed

[2022-11-28 12:39] #1878 closed

[2022-11-28 12:39] #1389 closed

[2022-11-28 12:39] #926 closed

[2022-11-28 12:40] #412 closed

[2022-11-28 12:40] #1368 closed

[2022-11-28 12:40] #1123 closed

[2022-11-28 12:40] #1738 closed

[2022-11-28 12:41] #1053 closed

[2022-11-28 12:42] #684 closed

[2022-11-28 12:45] Stexxe commented on #1618
Fixed by https://github.com/ktorio/ktor/commit/da7cb98d829596fe66342e47e5a5f270e63c261c

[2022-11-28 12:45] #1618 closed

[2022-11-28 12:48] #882 closed

[2022-11-28 12:51] #363 closed

[2022-11-28 12:52] #689 closed

[2022-11-28 12:52] #496 closed

[2022-11-28 12:53] #1817 closed

[2022-11-28 12:53] #1127 closed

[2022-11-28 12:54] #1688 closed

[2022-11-28 12:54] #1248 closed

[2022-11-28 12:54] #1524 closed

[2022-11-28 12:54] #1972 closed

[2022-11-28 12:55] #1534 closed

[2022-11-28 12:55] #595 closed

[2022-11-28 12:57] #597 closed

[2022-11-28 12:58] #1861 closed

[2022-11-28 12:59] Stexxe commented on #1435
Can't reproduce.

[2022-11-28 12:59] #1435 closed

[2022-11-28 13:01] #591 closed

[2022-11-28 13:01] #657 closed

[2022-11-28 13:03] #985 closed

[2022-11-28 13:03] #326 closed

[2022-11-28 13:04] #501 closed

[2022-11-28 13:04] #103 closed

[2022-11-28 13:05] #617 closed

[2022-11-28 13:06] #1883 closed

[2022-11-28 13:06] #1864 closed

[2022-11-28 13:06] #1843 closed

[2022-11-28 13:08] #1583 closed

[2022-11-28 13:09] #361 closed

[2022-11-28 13:10] #875 closed

[2022-11-28 13:10] #1854 closed

[2022-11-28 13:10] #353 closed

[2022-11-28 13:10] #908 closed

[2022-11-28 13:11] #788 closed

[2022-11-28 13:11] #260 closed

[2022-11-28 13:12] #543 closed

[2022-11-28 13:14] #1143 closed

[2022-11-28 13:14] #1163 closed

[2022-11-28 13:14] #1447 closed

[2022-11-28 13:15] #1484 closed

[2022-11-28 13:15] #556 closed

[2022-11-28 13:16] #697 closed

[2022-11-28 13:16] #1316 closed

[2022-11-28 13:16] #604 closed

[2022-11-28 13:18] #593 closed

[2022-11-28 13:19] #874 closed

[2022-11-28 13:20] #1372 closed